<!DOCTYPE html><html lang="en" class="cmmz3">
<head>
    <meta charset="utf-8">
    <title>STAKK</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=0" />
    <link href="css/vendors/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="css/vendors/swiper-bundle.min.css">
    <link href="style.css" rel="stylesheet">
    <link rel='icon' type='image/png' href='/images/lion.png'>
    <link rel='icon' sizes='192x192' href='/images/lion.png'>
    <link rel="icon" href="/images/lion.png" />
    <meta itemprop="name" content="Stakkfin Welcome To The Future Economy On The Bitcoin Standard" />
    <meta name="twitter:title" content="Stakkfin Welcome To The Future Economy On The Bitcoin Standard" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@Stakkfin" />
    <meta property="og:title" content="Stakkfin Welcome To The Future Economy On The Bitcoin Standard" />
    <meta property="og:url" content="https://www.truehomespropertygroup.com" />
    <meta property="og:type" content="website" />
    <link rel="dns-prefetch" href="https://static.ucraft.net/" />
    <meta name="image"
    content="/images/lion.png" />
<meta property="og:image"
    content="/images/lion.png" />
<meta property="og:image:secure_url"
    content="/images/lion.png" />
<meta property="og:image:width" content="524" />
<meta property="og:image:height" content="394" />
<meta itemprop="image"
    content="/images/lion.png" />
<meta name="twitter:image"
    content="/images/lion.png" />

    <meta name="generator" content="Ucraft" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="YES" />

    <meta name="description" content="Stakkfin Welcome To The Future Economy On The Bitcoin Standard" />
    <meta name="twitter:description" content="Stakkfin Welcome To The Future Economy On The Bitcoin Standard" />
    <meta property="og:description" content="Stakkfin Welcome To The Future Economy On The Bitcoin Standard" />
    <meta itemprop="description" content="Stakkfin Welcome To The Future Economy On The Bitcoin Standard" />
    <meta name="keywords" content="Stakkfin Welcome To The Future Economy On The Bitcoin Standard" />
    <meta name="twitter:site" content="@Stakkfin" />
    <meta name="twitter:creator" content="@Stakkfin" />
    <meta name="twitter:card" content="summary" />
    <meta property="og:site_name" content="Stakkfin Welcome To The Future Economy On The Bitcoin Standard" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US" />
   

<body class="c4f4x cnihn cs2bp c55gg czrq6">

    <!-- Page wrapper -->
    <div class="crm2f cbvce cxgh5 cfebz c4agq">

    <%- include('./partials/navigation')%>
        <%- body %>
    
    <%- include('./partials/footer')%>
   

</div>

<script src="js/vendors/alpinejs.min.js" defer=""></script>
<script src="js/vendors/aos.js"></script>
<script src="js/vendors/swiper-bundle.min.js"></script>
<script src="js/main.js"></script>

<script src="https://cdn.tailwindcss.com"></script>
 

<script>console.log("%cImportant!", "color: blue; font-size: x-large");console.log("%cThe page you are viewing is for demo purposes only. CSS and HTML have been minified and class names have been shortened to improve the page load time. Download our templates from https://cruip.com/ 😉", "font-size: large");</script><script>const pagesList = [{"name":"Home","url":"https://preview.cruip.com/stellar/index.html","active":true},{"name":"About","url":"https://preview.cruip.com/stellar/about.html","active":false},{"name":"Integrations","url":"https://preview.cruip.com/stellar/integrations.html","active":false},{"name":"Integration Post","url":"https://preview.cruip.com/stellar/integrations-single.html","active":false},{"name":"Pricing","url":"https://preview.cruip.com/stellar/pricing.html","active":false},{"name":"Customers","url":"https://preview.cruip.com/stellar/customers.html","active":false},{"name":"Customer Post","url":"https://preview.cruip.com/stellar/customer.html","active":false},{"name":"Changelog","url":"https://preview.cruip.com/stellar/changelog.html","active":false},{"name":"Sign in","url":"https://preview.cruip.com/stellar/signin.html","active":false},{"name":"Sign up","url":"https://preview.cruip.com/stellar/signup.html","active":false},{"name":"Reset password","url":"https://preview.cruip.com/stellar/reset-password.html","active":false}];if(window != top){window.parent.postMessage(pagesList, "https://cruip.com/")};</script><script defer src="https://static.cloudflareinsights.com/beacon.min.js/v84a3a4012de94ce1a686ba8c167c359c1696973893317" integrity="sha512-euoFGowhlaLqXsPWQ48qSkBSCFs3DPRyiwVu3FjR96cMPx+Fr+gpWRhIafcHwqwCqWS42RZhIudOvEI+Ckf6MA==" data-cf-beacon='{"rayId":"858134923d1820a6","version":"2024.2.0","r":1,"token":"59cc17d45d734f9ba118c63036ab1b84","b":1}' crossorigin="anonymous"></script>
</body>
</html>