
<footer class="bg-black text-white">
    <div class="container mx-auto px-6 py-10">
        <!-- Footer Content -->
        <div class="flex flex-wrap justify-between">
            <!-- About Section -->
            <div class="w-full md:w-1/3 mb-6 md:mb-0">
                <a href="/" class="text-2xl font-bold">STAKK</a>
                <p class="mt-2">Leading provider of digital asset solutions.</p>
            </div>

            <!-- Quick Links -->
            <div class="w-full md:w-1/3 mb-6 md:mb-0">
                <h2 class="font-bold text-xl text-white mb-4">Quick Links</h2>
                <div class="flex flex-wrap justify-between">
                    <div class="w-1/2">
                        <ul>
                            <li><a href="/about-us" class="text-white hover:text-cyan-500">About Us</a></li>
                            <li><a href="/services" class="text-white hover:text-cyan-500">Services</a></li>
                        </ul>
                    </div>
                    <div class="w-1/2">
                        <ul>
                            <li><a href="/resources" class="text-white hover:text-cyan-500">Resources</a></li>
                            <li><a href="/shop" class="text-white hover:text-cyan-500">Shop</a></li>
                        </ul>
                    </div>
                    <div class="w-1/2">
                        <ul>
                            <li><a href="/contact-us" class="text-white hover:text-cyan-500">Contact Us</a></li>
                        </ul>
                    </div>
                </div>

            </div>

            <!-- Contact & Social Links -->
            <div class="w-full md:w-1/3 mb-6 md:mb-0">
                <h2 class="font-bold text-white text-xl mb-2">Stay Connected</h2>
                <p>Contact us at info@stakk.com</p>
                <a href="your-youtube-channel" class="text-white hover:text-red-600" target="_blank">
                    <i class="fab fa-youtube"></i>
                </a>
                <a href="your-spotify-profile" class="text-white hover:text-green-600" target="_blank">
                    <i class="fab fa-spotify"></i>
                </a>
                <a href="your-rumble-profile" class="text-white hover:text-blue-600" target="_blank">
                    <i class="fab fa-rumble"></i>
                </a>
            </div>
        </div>

        <!-- Footer Bottom -->
        <div class="text-center mt-10 border-t border-gray-700 pt-4">
            <p>&copy; 2024 STAKK. All rights reserved.</p>
        </div>
    </div>
</footer>

