        <!-- Site header -->
        <header class="ca5ue ca0gw cverl">
          <div class="co3q6 csm51 csya4 ccyhi">
              <div class="cm7bi c2sao c4jjw c4agq cm0fl">
      
                  <!-- Site branding -->
                  <div class="ci0vw">
                      <!-- Logo -->
                      <a class="cwban" href="/" aria-label="Cruip">
                          <img class="cbdyn" src="/imgs/stacklogo.png" style="width: 13em;" alt="Stellar">
                      </a>
                  </div>
      
                  <!-- Desktop navigation --> 
                  <nav class="cp37h cjnbw ch9bk">
      
                      <!-- Desktop menu links -->
                      <ul class="csqqr c2sao cbsu6 c4agq c9wgl">
                          <li>
                              <a class="c0z2s cit3o cx3jz ccqx1 cgi3a cqxsj ch2qt cvdvu ciz32" href="/">Home</a>
                          </li>
                          <li>
                              <a class="c0z2s cit3o cx3jz ccqx1 cgi3a cqxsj ch2qt cvdvu ciz32" href="/">Service</a>
                          </li>
                          <li>
                              <a class="c0z2s cit3o cx3jz ccqx1 cgi3a cqxsj ch2qt cvdvu ciz32" href="/">Resources</a>
                          </li>
                          <li>
                              <a class="c0z2s cit3o cx3jz ccqx1 cgi3a cqxsj ch2qt cvdvu ciz32" href="/">About Us</a>
                          </li>
                          <li>
                              <a class="c0z2s cit3o cx3jz ccqx1 cgi3a cqxsj ch2qt cvdvu ciz32" href="/">Shop</a>
                          </li>
                          <!-- <li>
                            <a class="c0z2s cit3o cx3jz ccqx1 cgi3a cqxsj ch2qt cvdvu ciz32" href="/">Research</a>
                        </li> -->
                      </ul>
      
                  </nav>
      
                  <!-- Desktop sign in links -->
                  <ul class="c2sao cq21c ci0vw c4agq">
                      <li>
                          <a class="cz30y c0z2s cit3o cx3jz ccqx1 cgi3a cqxsj cvdvu" href="signin.html">Sign in</a>
                      </li>
                      <li class="cci1o">
                          <a class="c3d7q c272e cegg3 c8isz c0z2s c1mpe ccqfq cit3o cx3jz cgi3a cqxsj c27r3 cfl4k ca0gw cq2yg" href="signup.html">
                              <span class="c2sao cwban c27r3">
                                  Sign up <span class="c9pof c406y cxxyq c3fbv cx3jz cgi3a cqzh1">-&gt;</span>
                              </span>
                          </a>
                      </li>
                  </ul>
              
                  <!-- Mobile menu -->
                  <div class="c2sao c89zz cwap3 c4agq" x-data="{ expanded: false }">
      
                      <!-- Hamburger button -->
                      <button class="c381v" :class="{ 'active': expanded }" @click.stop="expanded = !expanded" aria-controls="mobile-nav" :aria-expanded="expanded">
                          <span class="cmmna">Menu</span>
                          <svg class="c0z2s cit3o cm1cr cx3jz cgi3a cqxsj csq2q c7vsq" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                              <rect y="2" width="20" height="2" rx="1"></rect>
                              <rect y="9" width="20" height="2" rx="1"></rect>
                              <rect y="16" width="20" height="2" rx="1"></rect>
                          </svg>
                      </button>
      
                      <!-- Mobile navigation -->
                      <nav id="mobile-nav" class="cbvce cml7t cpjek cgi3a ca5ue chez1 csm51 c1tcw ca0gw ccxsu ccyhi" x-ref="mobileNav" :style="expanded ? 'max-height: ' + $refs.mobileNav.scrollHeight + 'px; opacity: 1' : 'max-height: 0; opacity: .8'" @click.outside="expanded = false" @keydown.escape.window="expanded = false" x-cloak="">
                          <ul class="c3d7q cy8oh c8nst coow7 cn544 ccyhi">
                              <li>
                                  <a class="c0z2s cit3o ccqx1 coow7 cvdvu c4agq" href="about.html">About</a>
                              </li>
                              <li>
                                  <a class="c0z2s cit3o ccqx1 coow7 cvdvu c4agq" href="integrations.html">Integrations</a>
                              </li>
                              <li>
                                  <a class="c0z2s cit3o ccqx1 coow7 cvdvu c4agq" href="pricing.html">Pricing</a>
                              </li>
                              <li>
                                  <a class="c0z2s cit3o ccqx1 coow7 cvdvu c4agq" href="customers.html">Customers</a>
                              </li>
                              <li>
                                  <a class="c0z2s cit3o ccqx1 coow7 cvdvu c4agq" href="changelog.html">Changelog</a>
                              </li>
                          </ul>
                      </nav>
      
                  </div>
      
              </div>
          </div>
      </header>