<% layout('./layouts/boilerplate.ejs')%>

<main class="c9wgl">

    <!-- Hero -->
    <section class="c27r3">

        <!-- Radial gradient -->
        <div class="c3sb3 ca5ue c3x17 cl6qg ch67j c4agq c21zy czqre c2vxt czyer c2sao csqqr" aria-hidden="true">
            <div class="chor7 ca5ue cwmqr cdfzt cw2sl cz8e7 c9ua1"></div>
            <div class="chor7 ca5ue cbc5q cb4st cdfzt cpgjj cutr4 cal1k"></div>
        </div>

        <!-- Particles animation -->
        <div class="ca5ue cwmqr ch67j ci4x8" aria-hidden="true">
            <canvas data-particle-animation="" data-particle-quantity="15"></canvas>
        </div>

        <!-- Illustration -->
        <div class="c3sb3 ca5ue c3x17 ch67j cnheb c2vxt c5by6 c7upq cs26b" aria-hidden="true">
            <img src="images/page-illustration.svg" class="cbdyn" width="1440" height="427" alt="Page Illustration">
        </div>

        <div class="csya4 co3q6 ccyhi csm51">
            <div class="c3zop cp02i cz17m">

                <!-- Hero content -->
                <div class="cw9su">
                    <div class="cwban ccqrz ccal6 cuygr ctwez c6wvq ccqx1 c6df8">The success of stakk</div>
                    <h1 class="cbmj0 ccqrz cc7gh cfcmr cx8zw ctwez cbwn8 c6df8">Turning ideas into innovation</h1>
                    <!-- Rings illustration -->
                    <div class="c27r3 cwban c2sao csqqr">
                        <!-- Particles animation -->
                        <div class="ca5ue cwmqr ch67j" aria-hidden="true">
                            <canvas data-particle-animation="" data-particle-quantity="10"></canvas>
                        </div>
                        <div class="cwban c8zwh">
                            <img src="images/about-illustration.svg" width="446" height="446" alt="About illustration">
                        </div>
                        <img class="ca5ue c0f7x cw9vm c1c05" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/46/Bitcoin.svg/1200px-Bitcoin.svg.png" width="72" height="72" alt="About icon">
                    </div>
                </div>

            </div>
        </div>

    </section>

    <!-- Story -->
    <section class="c27r3">

        <!-- Blurred shape -->
        <div class="c3sb3 ca5ue c3x17 cl6qg ch67j cm9e8 cam1f c2vxt cutr4 c7upq" aria-hidden="true">
            <svg xmlns="http://www.w3.org/2000/svg" width="434" height="427">
                <defs>
                    <linearGradient id="bs4-a" x1="19.609%" x2="50%" y1="14.544%" y2="100%">
                        <stop offset="0%" stop-color="#A855F7"></stop>
                        <stop offset="100%" stop-color="#6366F1" stop-opacity="0"></stop>
                    </linearGradient>
                </defs>
                <path fill="url(#bs4-a)" fill-rule="evenodd" d="m0 0 461 369-284 58z" transform="matrix(1 0 0 -1 0 427)"></path>
            </svg>
        </div>

        <div class="ccyhi csm51">
            <div class="csya4 c6vh1">
                <div class="cifrc c9eon">
                
                    <!-- Section header -->
                    <div class="csya4 c80wd cifrc cw9su c9eon">
                        <h2 class="c4zau ccqrz cc7gh cfcmr cx8zw ctwez c6df8">Our story (so far)</h2>
                    </div>
                
                    <div class="cm7bi cj1rk cp37h cgmv7 csj05">
                        <figure class="ca5ta">
                            <img class="c4jlg csukx csya4 cmrr9 chkf8 c8nst crazq" src="images/che.jpg" width="420" height="280" alt="Team">
                        </figure>
                        <div class="csya4 coyie">
                            <div class="cwmzh cmuyi">
                                <p>
                                    Bitcoin, Blockchains, and Cryptocurrencies are here to stay. These technologies are already impacting our daily lives and this trend will continue long into the future. At STAKK, we strongly believe you should NOT be left out!
                                <p>
                                    Founded by Che Nchukwi and Kenny Awosika, STAKK's goal is to empower, educate and build wealth for communities everywhere. W strongly believe in the transformative and decentralized impact that Blockchains will have on business models, communities, and investment portfolios. We're excited to start a dialogue, learn about your needs, and provide value to you as we all take this journey together in the Blockchain and Cryptocurrency space.                                </p>
                                </p>
                              
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

  

    <!-- Recruitment -->
    <section class="c27r3">

        <!-- Blurred shape -->
        <div class="c3sb3 ca5ue c3x17 cl6qg ch67j cwsqy c2vxt c05ax cp4r7 c7upq" aria-hidden="true">
            <svg xmlns="http://www.w3.org/2000/svg" width="434" height="427">
                <defs>
                    <linearGradient id="bs3-a" x1="19.609%" x2="50%" y1="14.544%" y2="100%">
                        <stop offset="0%" stop-color="#6366F1"></stop>
                        <stop offset="100%" stop-color="#6366F1" stop-opacity="0"></stop>
                    </linearGradient>
                </defs>
                <path fill="url(#bs3-a)" fill-rule="evenodd" d="m410 0 461 369-284 58z" transform="matrix(1 0 0 -1 -410 427)"></path>
            </svg>
        </div>

        <div class="csya4 co3q6 ccyhi csm51">
            <div class="ckogj cx3i6 ctnn6 cuwj8">

                <!-- Section header -->
                <div class="csya4 c80wd cifrc cw9su c9eon">
                    <h2 class="c4zau ccqrz cc7gh cfcmr cx8zw ctwez cvc1j c6df8">STAKK MISSION</h2>
                    <p class="cbgr1 cmuyi">To maximize the opportunities and simplify the adoption of Bitcoin and blockchain technologies for communities through education, blockchain investment research, B2B services, and consulting.</p>
                </div>

                <!-- Icons with text -->
                <div class="cx0ze  cb69b">
                    <!-- <h3 id="productivity" class="cc7gh ccqrz cx8zw c6df8 cfcmr ctwez cwban ctwxk cflos ciblf cte24">Productivity</h3> -->
                    <div class="c4mpz cfcoj cvti0 c68vp">
                        <!-- Card #1 -->
                        <div class="cguxs czt1h cqp3k czyxl ccm5l cu167 c260e c27r3 cn544 cq2yg">
                            <div class="cfebz ck8nf c4agq casgt">
                                <div class="c2sao cujq3 c9eco c4agq">
                                    <div class="c27r3">
                                        <img src="images/integrations-19.svg" width="40" height="40" alt="Icon 19">
                                        <img class="ca5ue coopx cl6qg" src="images/star.svg" width="16" height="16" alt="Star" aria-hidden="true">
                                    </div>
                                    <a class="cur25 cdxod cc7gh ccqrz cx8zw c6df8 cfcmr ckot6 ctwez" href="/">Bitcoin &
                                        Blockchain
                                        Courses</a>
                                </div>
                                <div class="c9wgl">
                                    <div class="cmuyi cvdvu">Check out our courses</div>
                                </div>
                            </div>
                        </div>
                        <!-- Card #2 -->
                        <div class="cguxs czt1h cqp3k czyxl ccm5l cu167 c260e c27r3 cn544 cq2yg">
                            <div class="cfebz ck8nf c4agq casgt">
                                <div class="c2sao cujq3 c9eco c4agq">
                                    <div class="c27r3">
                                        <img src="images/integrations-20.svg" width="40" height="40" alt="Icon 20">
                                        <img class="ca5ue coopx cl6qg" src="images/star.svg" width="16" height="16" alt="Star" aria-hidden="true">
                                    </div>
                                    <a class="cur25 cdxod cc7gh ccqrz cx8zw c6df8 cfcmr ckot6 ctwez" href="/">Technical
                                        Analysis courses</a>
                                </div>
                                <div class="c9wgl">
                                    <div class="cmuyi cvdvu">Learn to analyze price action and patterns.</div>
                                </div>
                            </div>
                        </div>
                        <!-- Card #3 -->
                        <div class="cguxs czt1h cqp3k czyxl ccm5l cu167 c260e c27r3 cn544 cq2yg">
                            <div class="cfebz ck8nf c4agq casgt">
                                <div class="c2sao cujq3 c9eco c4agq">
                                    <div class="c27r3">
                                        <img src="images/integrations-21.svg" width="40" height="40" alt="Icon 21">
                                        <img class="ca5ue coopx cl6qg" src="images/star.svg" width="16" height="16" alt="Star" aria-hidden="true">
                                    </div>
                                    <a class="cur25 cdxod cc7gh ccqrz cx8zw c6df8 cfcmr ckot6 ctwez" href="/">Simplified
                                        Research</a>
                                </div>
                                <div class="c9wgl">
                                    <div class="cmuyi cvdvu">Blockchain investment research.</div>
                                </div>
                            </div>
                        </div>
                        <!-- Card #4 -->
                        <div class="cguxs czt1h cqp3k czyxl ccm5l cu167 c260e c27r3 cn544 cq2yg">
                            <div class="cfebz ck8nf c4agq casgt">
                                <div class="c2sao cujq3 c9eco c4agq">
                                    <div class="c27r3">
                                        <img src="images/integrations-22.svg" width="40" height="40" alt="Icon 22">
                                        <img class="ca5ue coopx cl6qg" src="images/star.svg" width="16" height="16" alt="Star" aria-hidden="true">
                                    </div>
                                    <a class="cur25 cdxod cc7gh ccqrz cx8zw c6df8 cfcmr ckot6 ctwez" href="/">Free Bitcoin and
                                        Crypto Resources</a>
                                </div>
                                <div class="c9wgl">
                                    <div class="cmuyi cvdvu">Check out our resorces</div>
                                </div>
                            </div>
                        </div>
                        <!-- Card #5 -->
                        <div class="cguxs czt1h cqp3k czyxl ccm5l cu167 c260e c27r3 cn544 cq2yg">
                            <div class="cfebz ck8nf c4agq casgt">
                                <div class="c2sao cujq3 c9eco c4agq">
                                    <div class="c27r3">
                                        <img src="images/integrations-23.svg" width="40" height="40" alt="Icon 23">
                                    </div>
                                    <a class="cur25 cdxod cc7gh ccqrz cx8zw c6df8 cfcmr ckot6 ctwez" href="/">Technical
                                        Analysis & Market
                                        Updated</a>
                                </div>
                                <div class="c9wgl">
                                    <div class="cmuyi cvdvu">Check out our courses</div>
                                </div>
                            </div>
                        </div>
                        <!-- Card #6 -->
                        <div class="cguxs czt1h cqp3k czyxl ccm5l cu167 c260e c27r3 cn544 cq2yg">
                            <div class="cfebz ck8nf c4agq casgt">
                                <div class="c2sao cujq3 c9eco c4agq">
                                    <div class="c27r3">
                                        <img src="images/integrations-24.svg" width="40" height="40" alt="Icon 24">
                                    </div>
                                    <a class="cur25 cdxod cc7gh ccqrz cx8zw c6df8 cfcmr ckot6 ctwez" href="/">Bitcoin
                                        Consultation</a>
                                </div>
                                <div class="c9wgl">
                                    <div class="cmuyi cvdvu">Check out our courses</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>



    

    </section>



    <section>
        <div class="co3q6 csm51 csya4 ccyhi">
            <div class="cx569 cbvce cuwj8 c27r3 cx3i6 cujph">
                <!-- Radial gradient -->
                <div class="c3sb3 c2vxt czyer csqqr c21zy c2sao c3x17 ca5ue cbbau cl6qg ch67j c4agq" aria-hidden="true">
                    <div class="c9ua1 chor7 cw2sl cdfzt cutr4 ca5ue cwmqr"></div>
                    <div class="chor7 cpgjj cyo6y cdfzt ca5ue chosp cgi8e"></div>
                </div>
                <!-- Blurred shape -->
                <div class="c3sb3 colir cp4r7 ca5ue c2s0w c7upq c1tcw ch67j" aria-hidden="true">
                    <svg xmlns="http://www.w3.org/2000/svg" width="434" height="427">
                        <defs>
                            <linearGradient id="bs5-a" x1="19.609%" x2="50%" y1="14.544%" y2="100%">
                                <stop offset="0%" stop-color="#A855F7"></stop>
                                <stop offset="100%" stop-color="#6366F1" stop-opacity="0"></stop>
                            </linearGradient>
                        </defs>
                        <path fill="url(#bs5-a)" fill-rule="evenodd" d="m0 0 461 369-284 58z" transform="matrix(1 0 0 -1 0 427)"></path>
                    </svg>
                </div>
                <!-- Content -->
                <div class="cw9su c80wd csya4">
                    <div>
                        <div class="ccqrz c6df8 ccal6 cuygr ctwez cwban ccqx1 c6wvq">The security first platform</div>
                    </div>
                    <h2 class="cc7gh ccqrz cx8zw c6df8 cfcmr ctwez cvc1j c4zau">Get started with us today</h2>
                    <p class="cmuyi cbgr1 cpvtt"></p>
                    <div>
                        <a class="ccqrz cl7hu colil csdcv cpy2n cx3jz cgi3a cqxsj cdccy cq2yg cyijk" href="/service">
                           Get Started <span class="c9pof c406y cxxyq c3fbv cx3jz cgi3a cqzh1">-&gt;</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>