<% layout('./layouts/boilerplate.ejs')%>

    <div class="crm2f cbvce cxgh5 cfebz c4agq">

        <main class="c9wgl">

            <section class="c27r3">

                <!-- Radial gradient -->
        <div class="c3sb3 ca5ue c3x17 cl6qg ch67j c4agq c21zy czqre c2vxt czyer c2sao csqqr" aria-hidden="true">
            <div class="chor7 ca5ue cwmqr cdfzt cw2sl cz8e7 c9ua1"></div>
            <div class="chor7 ca5ue cbc5q cb4st cdfzt cpgjj cutr4 cal1k"></div>
        </div>

        <!-- Particles animation -->
        <div class="ca5ue cwmqr ch67j ci4x8" aria-hidden="true">
            <canvas data-particle-animation="" data-particle-quantity="15"></canvas>
        </div>

        <!-- Illustration -->
        <div class="c3sb3 ca5ue c3x17 ch67j cnheb c2vxt c5by6 c7upq cs26b" aria-hidden="true">
            <img src="images/page-illustration.svg" class="cbdyn" width="1440" height="427" alt="Page Illustration">
        </div>

                <div class="co3q6 c27r3 csm51 csya4 ccyhi">
                    <div class="c9eon cz17m cifrc cp02i">

                        <!-- Page header -->
                        <div class="cw9su c80wd csya4 cifrc">
                            <!-- Logo -->
                            <div class="crdb2">
                                <a class="cwban" href="/">                                  
                                        <img class="c27r3" src="images/lion.png" width="102" height="102" alt="Stellar">
                                </a>
                            </div>
                            <!-- Page title -->
                            <h1 class="cc7gh ccqrz cx8zw c6df8 cfcmr ctwez c4zau">Contact us today</h1>
                        </div>

                        <!-- Form -->
                        <div class="c1omz csya4">

                            <form>
                                <div class="cavuv">
                                    <div>
                                        <label class="cit3o ccqx1 cvdvu cxz3l c986a" for="company">Company <span class="c620h">*</span></label>
                                        <input id="company" class="c6i2l ca0gw" type="text" placeholder="mE.g., Acme Inc." required="">
                                    </div>
                                    <div>
                                        <label class="cit3o ccqx1 cvdvu cxz3l c986a" for="full-name">Full Name <span class="c620h">*</span></label>
                                        <input id="full-name" class="c6i2l ca0gw" type="text" placeholder="E.g., Mark Rossi" required="">
                                    </div>
                                    <div>
                                        <label class="cit3o ccqx1 cvdvu cxz3l c986a" for="email">Email <span class="c620h">*</span></label>
                                        <input id="email" class="c6i2l ca0gw" type="email" placeholder="markrossi@company.com" required="">
                                    </div>
                                    <div>
                                        <label class="cit3o ccqx1 cvdvu cxz3l c986a" for="password">Message <span class="c620h">*</span></label>
                                    <textarea name=" "  class="c6i2l ca0gw" id="" cols="30" rows="5"></textarea>
                                    </div>
                                    <div>
                                        <label class="cit3o ccqx1 cvdvu cxz3l c986a" for="referrer">Where did you hear about us? <span class="c620h">*</span></label>
                                        <select id="referrer" class="c7gkl cvdvu ca0gw c8x2c" required="">
                                            <option>Google</option>
                                            <option>Medium</option>
                                            <option>Groups</option>
                                            <option>Friends</option>

                                            <option>GitHub</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="ckwat">
                                    <button class="ckbyi cw2sl cnur3 cgpyo cvdvu ca0gw cq2yg cyijk">
                                       Send <span class="c9pof c406y cxxyq ckj0y cx3jz cgi3a cqzh1">-&gt;</span>
                                    </button>
                                </div>
                            </form>

                       
                            
                            <!-- Divider -->
                            <div class="c2sao cuqgt c4agq">
                                <div class="czyxl ckogj cygn6 c9wgl" aria-hidden="true"></div>
                                <div class="cgzoy cvdvu c18x8">or</div>
                                <div class="czyxl ckogj cawyw c9wgl" aria-hidden="true"></div>
                            </div>
                            
                            <!-- Social login -->
                            <div class="cujq3 c4agq">
                                <button class="c3d7q c272e cegg3 c8isz c0z2s c1mpe ccqfq cit3o cx3jz cgi3a cqxsj c27r3 ca0gw cq2yg cyijk cdfq1">
                                    <span class="c27r3">
                                        <span class="cmmna">Continue with Twitter</span>
                                        <svg class="cm1cr" xmlns="http://www.w3.org/2000/svg" width="14" height="12">
                                            <path d="m4.34 0 2.995 3.836L10.801 0h2.103L8.311 5.084 13.714 12H9.482L6.169 7.806 2.375 12H.271l4.915-5.436L0 0h4.34Zm-.635 1.155H2.457l7.607 9.627h1.165L3.705 1.155Z"></path>
                                        </svg>
                                    </span>
                                </button>
                            
                            </div>

                        </div>

                    </div>
                </div>

            </section>

        </main>

    </div>

