<% layout('./layouts/boilerplate.ejs')%>

<main class="c9wgl">

    <!-- Radial gradient -->
    <div class="c3sb3 ca5ue c3x17 cl6qg ch67j c4agq c21zy czqre c2vxt czyer c2sao csqqr" aria-hidden="true">
      <div class="chor7 ca5ue cwmqr cdfzt cw2sl cz8e7 c9ua1"></div>
      <div class="chor7 ca5ue cbc5q cb4st cdfzt cpgjj cutr4 cal1k"></div>
  </div>
  
  <!-- Particles animation -->
  <div class="ca5ue cwmqr ch67j ci4x8" aria-hidden="true">
      <canvas data-particle-animation="" data-particle-quantity="15"></canvas>
  </div>
  
<br><br>
<div class="container  font-sans leading-normal tracking-normal mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold mb-4 text-center">STAKK Refund Policy</h1>
    <p class="text-sm mb-2">Effective Date: 03/01/2024</p>
    <p class="mb-4">Welcome to STAKK! We are committed to your satisfaction and learning success. This refund policy explains how we handle returns and refunds for the Bitcoin education and trading courses we offer. Please read it carefully to understand your rights and obligations.</p>

    <div class="bg-white shadow-lg  p-6">
        <h2 class="text-xl font-bold mb-2 text-black userline">Digital Product Refund Policy</h2>
        <p class="text-gray-700 mb-4">As STAKK offers digital educational products and services, including but not limited to online courses, webinars, and downloadable content, we operate under a no-refund policy for all digital product purchases. Due to the nature of digital information being irrevocably received and impossible to return, all sales are final once access to the course materials has been granted.</p>
        <p class="text-gray-700 mb-4">However, we understand that exceptional circumstances may occur. Therefore, we offer limited refund scenarios:</p>
        <ul class="list-disc pl-6 mb-4">
            <li class="text-gray-700"><span class="font-bold">Technical Issues</span>: If you are unable to access the purchased course due to technical issues from our end and we are unable to resolve the issue within a reasonable timeframe, you may be eligible for a full refund.</li>
            <li class="text-gray-700"><span class="font-bold">Course Cancellation</span>: If STAKK cancels a course for any reason, registrants will receive a full refund within 30 days of the cancellation announcement.</li>
        </ul>
    </div>

    <div class="bg-white shadow-lg  p-6">
        <h2 class="text-xl font-bold mb-2 text-black userline">Requesting a Refund</h2>
        <p class="text-gray-700 mb-4">To request a refund under the conditions mentioned above, please contact our support team at <a href="mailto:support@stakkfin.com" class="text-indigo-600">support@stakkfin.com</a> with the following information:</p>
        <ul class="list-disc pl-6 mb-4">
            <li class="text-gray-700">Your name and contact information</li>
            <li class="text-gray-700">Course name and purchase date</li>
            <li class="text-gray-700">Reason for requesting a refund (including any relevant documentation or evidence, if applicable)</li>
        </ul>
        <p class="text-gray-700 mb-4">All refund requests must be made within 14 days of purchase. Requests made after this period will not be considered.</p>
    </div>

    <div class="bg-white shadow-lg  p-6">
        <h2 class="text-xl font-bold mb-2 text-black userline">Processing Refunds</h2>
        <p class="text-gray-700 mb-4">Upon receiving your refund request, our team will review it to determine eligibility based on the conditions outlined above. If approved, refunds will be processed back to the original payment method within 7-10 business days. We will notify you via email once the refund has been issued.</p>
    </div>

    <div class="bg-white shadow-lg  p-6">
        <h2 class="text-xl font-bold mb-2 text-black userline">Subscription Services</h2>
        <p class="text-gray-700 mb-4">For ongoing subscription services, customers may cancel their subscription at any time. However, refunds for the current subscription period are not available. Cancellation will be effective at the end of the current billing cycle, and access will continue until then.</p>
    </div>

    <div class="bg-white shadow-lg  p-6">
        <h2 class="text-xl font-bold mb-2 text-black userline">Changes to This Policy</h2>
        <p class="text-gray-700 mb-4">STAKK reserves the right to modify this refund policy at any time. We will provide notice of any significant changes through our website or by direct communication. Your continued use of our services after any changes signifies your acceptance of these changes.</p>
    </div>

    <div class="bg-white shadow-lg  p-6">
        <h2 class="text-xl font-bold mb-2 text-black userline">Contact Us</h2>
        <p class="text-gray-700 mb-4">If you have any questions or concerns about our refund policy, please contact us at <a href="mailto:support@stakkfin.com" class="text-indigo-600">support@stakkfin.com</a>.</p>
    </div>
</div>
</main>