<% layout('./layouts/boilerplate.ejs')%>
<main class="c9wgl">

    <!-- Hero -->
    <section class="c27r3">

        <!-- Illustration 02 -->
        <div class="c3sb3 c2vxt c5by6 c3x17 cs26b ca5ue c2s0w c7upq c81ji ch67j" aria-hidden="true">
            <img src="images/page-illustration-02.svg" class="cbdyn" width="1440" height="427" alt="Page Illustration 02">
        </div>
        
        <!-- Opacity layer -->
        <div class="cs2bp cxjfx ca5ue cwmqr ch67j" aria-hidden="true"></div>

        <!-- Radial gradient -->
        <div class="c3sb3 c2vxt czyer csqqr c21zy c2sao czqre c3x17 ca5ue cl6qg ch67j c4agq" aria-hidden="true">
            <div class="c9ua1 chor7 cw2sl cdfzt cz8e7 ca5ue cwmqr"></div>
            <div class="chor7 cpgjj cal1k cdfzt cutr4 ca5ue cbc5q cb4st"></div>
        </div>

        <!-- Particles animation -->
        <div class="ca5ue cwmqr ch67j ci4x8" aria-hidden="true">
            <canvas data-particle-animation="" data-particle-quantity="15"></canvas>
        </div>

        <!-- Illustration -->
        <div class="c3sb3 c2vxt c5by6 c3x17 cs26b ca5ue c7upq cnheb ch67j" aria-hidden="true">
            <img src="images/page-illustration.svg" class="cbdyn" width="1440" height="427" alt="Page Illustration">
        </div>

        <div class="co3q6 csm51 csya4 ccyhi">
            <div class="cz17m cp02i">

                <!-- Hero content -->
                <div class="cw9su c9eon cifrc">
                    <div class="ccqrz c6df8 ccal6 cuygr ctwez cwban ccqx1 c6wvq">Our used resorces</div>
                    <h1 class="cc7gh ccqrz cx8zw c6df8 cfcmr ctwez cvc1j cbmj0">Bitcoin Resources</h1>
                    <div class="c80wd csya4">
                        <p class="cmuyi cbgr1">Useful websites and resources about Bitcoin.</p>
                    </div>
                </div>

                <!-- Carousel built with Swiper.js [https://swiperjs.com/] -->
                <!-- * Initialized in src/js/main.js -->
                <!-- * Custom styles in src/css/additional-styles/theme.scss -->
           

            </div>
        </div>

    </section>

    <!-- Categories -->
    <section>
        <div class="co3q6 csm51 csya4 ccyhi">

            <div class="c9eon cifrc">
                <!-- Tobpabr -->
                <div class="ctnn6 cq450 cm7bi cf0tl c2sao ce58h ckbs2 c4agq c1a1y">
                    <!-- Links -->
                    <ul class="cgft4 ccqx1 ce58h cvdvu c4agq">
                        <li>
                            <a class="cz30y cqp3k c0z2s c8azi c2sao csip8 c4agq" href="#engineering">
                                <svg class="colnz" xmlns="http://www.w3.org/2000/svg" width="16" height="16">
                                    <path d="m7.7 7.3-5-5c-.4-.4-1-.4-1.4 0-.4.4-.4 1 0 1.4L5.6 8l-4.3 4.3c-.4.4-.4 1 0 1.4.2.2.4.3.7.3.3 0 .5-.1.7-.3l5-5c.4-.4.4-1 0-1.4ZM8 12h7v2H8z"></path>
                                </svg>
                                <span>Resorces</span>
                            </a>
                        </li>
                        <!-- <li>
                            <a class="cz30y cqp3k c0z2s c8azi c2sao csip8 c4agq" href="#nocode">
                                <svg class="colnz" xmlns="http://www.w3.org/2000/svg" width="16" height="16">
                                    <path d="M10 15c-.4 0-.8-.3-.9-.7L5.8 4.6 3.9 8.4c-.2.4-.5.6-.9.6H0V7h2.4l2.7-5.4c.2-.4.6-.6 1-.6s.7.3.9.7l3.2 9.7 1.9-3.8c.2-.4.5-.6.9-.6h3v2h-2.4l-2.7 5.4c-.2.4-.5.6-.9.6Z"></path>
                                </svg>
                                <span>No-code</span>
                            </a>
                        </li>
                        <li>
                            <a class="cz30y cqp3k c0z2s c8azi c2sao csip8 c4agq" href="#collaboration">
                                <svg class="colnz" xmlns="http://www.w3.org/2000/svg" width="16" height="16">
                                    <path d="M7.3 9.7c-.4-.4-.4-1 0-1.4l7-7c.4-.4 1-.4 1.4 0 .4.4.4 1 0 1.4l-7 7c-.4.4-1 .4-1.4 0ZM7.3 15.7c-.4-.4-.4-1 0-1.4l7-7c.4-.4 1-.4 1.4 0 .4.4.4 1 0 1.4l-7 7c-.4.4-1 .4-1.4 0ZM.3 10.7c-.4-.4-.4-1 0-1.4l7-7c.4-.4 1-.4 1.4 0 .4.4.4 1 0 1.4l-7 7c-.4.4-1 .4-1.4 0Z"></path>
                                </svg>
                                <span>Collaboration</span>
                            </a>
                        </li>
                        <li>
                            <a class="cz30y cqp3k c0z2s c8azi c2sao csip8 c4agq" href="#productivity">
                                <svg class="colnz" xmlns="http://www.w3.org/2000/svg" width="16" height="16">
                                    <path d="M11.505 14.135a1 1 0 0 1 .175-1.403A5.967 5.967 0 0 0 14 8c0-3.309-2.691-6-6-6S2 4.691 2 8c0 1.858.846 3.583 2.32 4.731a1 1 0 0 1-1.228 1.578A7.951 7.951 0 0 1 0 8c0-4.411 3.589-8 8-8s8 3.589 8 8a7.955 7.955 0 0 1-3.092 6.31 1.001 1.001 0 0 1-1.403-.175Z"></path>
                                    <path d="M9.045 10.973a1 1 0 0 1 .175-1.404A1.98 1.98 0 0 0 10 8c0-1.103-.897-2-2-2s-2 .897-2 2c0 .611.284 1.184.78 1.569a1 1 0 1 1-1.228 1.578A3.967 3.967 0 0 1 4 8c0-2.206 1.794-4 4-4s4 1.794 4 4c0 1.232-.565 2.38-1.552 3.147a.999.999 0 0 1-1.403-.174Z"></path>
                                </svg>
                                <span>Productivity</span>
                            </a>
                        </li> -->
                    </ul>
                    <div>
                        <form class="c2sao c27r3 c4agq">
                            <input class="c2307 cqwzm cpxdt czukz c4mow cm0os c6i2l cfgaj c6khg" type="text" id="search" aria-label="Search…" placeholder="Search…" autocomplete="off">
                            <div class="c3sb3 csqqr c2sao ca5ue cwmqr c4agq cnacl">
                                <svg class="cs1uf ca5ue c9ixl" xmlns="http://www.w3.org/2000/svg" width="16" height="16">
                                    <path d="M7 14c-3.86 0-7-3.14-7-7s3.14-7 7-7 7 3.14 7 7-3.14 7-7 7ZM7 2C4.243 2 2 4.243 2 7s2.243 5 5 5 5-2.243 5-5-2.243-5-5-5Zm8.707 12.293a.999.999 0 1 1-1.414 1.414L11.9 13.314a8.019 8.019 0 0 0 1.414-1.414l2.393 2.393Z"></path>
                                </svg>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- Cards -->
                <div>
                    <!-- Section #1 -->
                    <br>
                    <div class="c4mpz cfcoj cvti0 c68vp">
                        <div class="cguxs  p-4 text-center justify-center flex flex-col items-center  czt1h cqp3k czyxl ccm5l cu167 c260e c27r3 cn544 cq2yg">
                        <br>
                            <img src="images/integrations-06.svg" width="60" height="60" alt="Icon">
                            <h2 id="learn" class="anchorAf text-xl font-semibold"><a href="#learn"></a>Learning Resources</h2>
                            <p class="mb-5"><a href="https://en.bitcoin.it/">Bitcoin Wiki</a></p>
                            <p class="mb-5"><a href="https://www.khanacademy.org/economics-finance-domain/core-finance/money-and-banking/bitcoin/v/bitcoin-what-is-it">Khan Academy</a></p>
                            <p class="mb-5"><a href="http://letstalkbitcoin.com/">Let's Talk Bitcoin</a></p>
                            <p class="mb-5"><a href="http://www.bitcoin.kn/">Bitcoin Knowledge Podcast</a></p>
                            <p class="mb-5"><a href="https://www.weusecoins.com/">WeUseCoins.com</a></p>
                            <p class="mb-5"><a href="https://www.bitcoinmining.com/">BitcoinMining.com</a></p>
                            <p class="mb-5"><a href="http://www.iamsatoshi.com/category/video-archive/">IamSatoshi</a></p>
                            <p class="mb-5"><a href="https://www.lopp.net/bitcoin-information.html">Bitcoin Information &amp; Educational Resources</a></p>
                        </div>

                        <div class="cguxs  p-4 text-center justify-center flex flex-col items-center  czt1h cqp3k czyxl ccm5l cu167 c260e c27r3 cn544 cq2yg">
                            <img src="images/integrations-07.svg" width="60" height="60" alt="Icon">
                            <h2 id="directories" class="anchorAf text-xl font-semibold"><a href="#directories"></a>Directories</h2>
                            <p class="mb-5"><a href="/en/choose-your-wallet">Wallets</a> - bitcoin.org</p>
                            <p class="mb-5"><a href="https://btcmap.org/">Merchants</a> - btcmap.org</p>
                            <p class="mb-5"><a href="https://bitcoinwide.com/">Merchants</a> - BitcoinWide.com</p>
                            <p class="mb-5"><a href="https://coinmap.org/">Merchants</a> - coinmap.org</p>
                            <p class="mb-5"><a href="https://spendabit.co/">Merchants</a> - spendabit.co</p>
                            <p class="mb-5"><a href="https://99bitcoins.com/who-accepts-bitcoins-payment-companies-stores-take-bitcoins/">Merchants</a> - 99Bitcoins.com</p>
                            <p class="mb-5"><a href="https://www.buybitcoinworldwide.com/">Exchanges</a> - buybitcoinworldwide.com</p>
                            <p class="mb-5"><a href="https://www.bitrawr.com/">Exchanges</a> - bitrawr.com</p>
                            <p class="mb-5"><a href="https://en.bitcoin.it/wiki/Category:Shopping_Cart_Interfaces">Merchant tools</a> - en.bitcoin.it</p>
                            <p class="mb-5"><a href="http://www.bitcoinprojects.net/">Projects</a> - BitcoinProjects.net</p>
                        </div>

                        <div class="cguxs  p-4 text-center justify-center flex flex-col items-center  czt1h cqp3k czyxl ccm5l cu167 c260e c27r3 cn544 cq2yg">
                            <img src="images/integrations-04.svg" width="60" height="60" alt="Icon">
                            <h2 id="charts" class="anchorAf text-xl font-semibold"><a href="#charts"></a>Charts and Statistics</h2>
                            <p class="mb-5"><a href="https://statoshi.info">Statoshi.info</a></p>
                            <p class="mb-5"><a href="https://bitaps.com">Bitaps.com</a></p>
                            <p class="mb-5"><a href="https://live.blockcypher.com/btc">BlockCypher</a></p>
                            <p class="mb-5"><a href="https://mempool.space">mempool.space</a></p>
                            <p class="mb-5"><a href="https://tradeblock.com/bitcoin">TradeBlock</a></p>
                            <p class="mb-5"><a href="https://bitcoincharts.com/charts/">Bitcoincharts.com</a></p>
                            <p class="mb-5"><a href="https://gobitcoin.io/en/">GoBitcoin.io</a></p>
                            <p class="mb-5"><a href="https://bitcoinaverage.com/en/bitcoin-price/btc-to-usd">BitcoinAverage</a></p>
                        </div>

                        <div class="cguxs  p-4 text-center justify-center flex flex-col items-center  czt1h cqp3k czyxl ccm5l cu167 c260e c27r3 cn544 cq2yg">
                            <img src="images/integrations-21.svg" width="60" height="60" alt="Icon">
                            <h2 id="documentaries" class="anchorAf text-xl font-semibold"><a href="#documentaries"></a>Documentaries</h2>
                            <p class="mb-5"><a href="http://www.iamsatoshi.com/">Ulterior States</a></p>
                            <p class="mb-5"><a href="https://www.youtube.com/watch?v=6pWblf8COH4">The Bitcoin Phenomenon</a></p>
                            <p class="mb-5"><a href="https://www.youtube.com/watch?v=LszOt51OjXU">Bitcoin: Beyond The Bubble</a></p>
                            <p class="mb-5"><a href="https://www.youtube.com/watch?v=PVo5wCSnmSs">Magic Money: The Bitcoin Revolution</a></p>
                            <p class="mb-5"><a href="https://www.youtube.com/watch?v=HUpGHOLkoXs">Evolution of Bitcoin</a></p>
                        </div>

                        <div class="cguxs  p-4 text-center justify-center flex flex-col items-center  czt1h cqp3k czyxl ccm5l cu167 c260e c27r3 cn544 cq2yg">
                            <img src="images/integrations-24.svg" width="60" height="60" alt="Icon">
                            <h2 id="vouchers" class="anchorAf text-xl font-semibold"><a href="#vouchers"></a>Vouchers</h2>
                            <p class="mb-5"><a href="https://www.bitrefill.com/">Bitrefill</a></p>
                            <p class="mb-5"><a href="https://foldapp.com/">Fold</a></p>
                            <p class="mb-5"><a href="https://gyft.com/bitcoin/">Gyft</a></p>
                            <p class="mb-5"><a href="https://opendime.com/">Opendime</a></p>
                        </div>

                        <div class="cguxs  p-4 text-center justify-center flex flex-col items-center  czt1h cqp3k czyxl ccm5l cu167 c260e c27r3 cn544 cq2yg">
                            <img src="images/integrations-01.svg" width="60" height="60" alt="Icon">
                            <h2 id="guides" class="anchorAf text-xl font-semibold"><a href="#guides"></a>Guides</h2>
                            <p class="mb-5"><a href="https://mattodell.keybase.pub/coldcard.html">ColdCard</a></p>
                            <p class="mb-5"><a href="https://bitcoiner.guide">Bitcoiner.Guide</a></p>
                            <p class="mb-5"><a href="http://node.guide">Node.Guide</a></p>
                        </div>
                    </div>
                    <!-- Section #2 -->
                    <div class="cx0ze hidden cb69b">
                        <h3 id="nocode" class="cc7gh ccqrz cx8zw c6df8 cfcmr ctwez cwban ctwxk cflos ciblf cte24">No-code</h3>
                        <div class="c4mpz cfcoj cvti0 c68vp">
                            <!-- Card #1 -->
                            <div class="cguxs  p-4 text-center justify-center flex flex-col  czt1h cqp3k czyxl ccm5l cu167 c260e c27r3 cn544 cq2yg">
                                <div class="cfebz ck8nf c4agq casgt">
                                    <div class="c2sao cujq3 c9eco c4agq">
                                        <div class="c27r3">
                                            <img src="images/integrations-02.svg" width="60" height="60" alt="Icon 02">
                                            <img class="ca5ue coopx cl6qg" src="images/star.svg" width="16" height="16" alt="Star" aria-hidden="true">
                                        </div>
                                        <a class="cur25 cdxod cc7gh ccqrz cx8zw c6df8 cfcmr ckot6 ctwez" href="integrations-single.html">Zapier</a>
                                    </div>
                                    <div class="c9wgl">
                                        <div class="cmuyi cvdvu">Stellar makes it easy to build extensions by providing an authentication provider that handles the OAuth flow.</div>
                                    </div>
                                </div>
                            </div>
                            <!-- Card #2 -->
                            <div class="cguxs czt1h cqp3k czyxl ccm5l cu167 c260e c27r3 cn544 cq2yg">
                                <div class="cfebz ck8nf c4agq casgt">
                                    <div class="c2sao cujq3 c9eco c4agq">
                                        <div class="c27r3">
                                            <img src="images/integrations-03.svg" width="60" height="60" alt="Icon 03">
                                            <img class="ca5ue coopx cl6qg" src="images/star.svg" width="16" height="16" alt="Star" aria-hidden="true">
                                        </div>
                                        <a class="cur25 cdxod cc7gh ccqrz cx8zw c6df8 cfcmr ckot6 ctwez" href="integrations-single.html">Airtable</a>
                                    </div>
                                    <div class="c9wgl">
                                        <div class="cmuyi cvdvu">Stellar makes it easy to build extensions by providing an authentication provider that handles the OAuth flow.</div>
                                    </div>
                                </div>
                            </div>
                            <!-- Card #3 -->
                            <div class="cguxs czt1h cqp3k czyxl ccm5l cu167 c260e c27r3 cn544 cq2yg">
                                <div class="cfebz ck8nf c4agq casgt">
                                    <div class="c2sao cujq3 c9eco c4agq">
                                        <div class="c27r3">
                                            <img src="images/integrations-09.svg" width="60" height="60" alt="Icon 09">
                                            <img class="ca5ue coopx cl6qg" src="images/star.svg" width="16" height="16" alt="Star" aria-hidden="true">
                                        </div>
                                        <a class="cur25 cdxod cc7gh ccqrz cx8zw c6df8 cfcmr ckot6 ctwez" href="integrations-single.html">Framer</a>
                                    </div>
                                    <div class="c9wgl">
                                        <div class="cmuyi cvdvu">Stellar makes it easy to build extensions by providing an authentication provider that handles the OAuth flow.</div>
                                    </div>
                                </div>
                            </div>
                            <!-- Card #4 -->
                            <div class="cguxs czt1h cqp3k czyxl ccm5l cu167 c260e c27r3 cn544 cq2yg">
                                <div class="cfebz ck8nf c4agq casgt">
                                    <div class="c2sao cujq3 c9eco c4agq">
                                        <div class="c27r3">
                                            <img src="images/integrations-10.svg" width="60" height="60" alt="Icon 10">
                                        </div>
                                        <a class="cur25 cdxod cc7gh ccqrz cx8zw c6df8 cfcmr ckot6 ctwez" href="integrations-single.html">Jotform</a>
                                    </div>
                                    <div class="c9wgl">
                                        <div class="cmuyi cvdvu">Stellar makes it easy to build extensions by providing an authentication provider that handles the OAuth flow.</div>
                                    </div>
                                </div>
                            </div>
                            <!-- Card #5 -->
                            <div class="cguxs czt1h cqp3k czyxl ccm5l cu167 c260e c27r3 cn544 cq2yg">
                                <div class="cfebz ck8nf c4agq casgt">
                                    <div class="c2sao cujq3 c9eco c4agq">
                                        <div class="c27r3">
                                            <img src="images/integrations-11.svg" width="60" height="60" alt="Icon 11">
                                            <img class="ca5ue coopx cl6qg" src="images/star.svg" width="16" height="16" alt="Star" aria-hidden="true">
                                        </div>
                                        <a class="cur25 cdxod cc7gh ccqrz cx8zw c6df8 cfcmr ckot6 ctwez" href="integrations-single.html">Webflow</a>
                                    </div>
                                    <div class="c9wgl">
                                        <div class="cmuyi cvdvu">Stellar makes it easy to build extensions by providing an authentication provider that handles the OAuth flow.</div>
                                    </div>
                                </div>
                            </div>
                            <!-- Card #6 -->
                            <div class="cguxs czt1h cqp3k czyxl ccm5l cu167 c260e c27r3 cn544 cq2yg">
                                <div class="cfebz ck8nf c4agq casgt">
                                    <div class="c2sao cujq3 c9eco c4agq">
                                        <div class="c27r3">
                                            <img src="images/integrations-12.svg" width="60" height="60" alt="Icon 12">
                                        </div>
                                        <a class="cur25 cdxod cc7gh ccqrz cx8zw c6df8 cfcmr ckot6 ctwez" href="integrations-single.html">Coda</a>
                                    </div>
                                    <div class="c9wgl">
                                        <div class="cmuyi cvdvu">Stellar makes it easy to build extensions by providing an authentication provider that handles the OAuth flow.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Section #3 -->
                    <div class="cx0ze hidden cb69b">
                        <h3 id="collaboration" class="cc7gh ccqrz cx8zw c6df8 cfcmr ctwez cwban ctwxk cflos ciblf cte24">Collaboration</h3>
                        <div class="c4mpz cfcoj cvti0 c68vp">
                            <!-- Card #1 -->
                            <div class="cguxs czt1h cqp3k czyxl ccm5l cu167 c260e c27r3 cn544 cq2yg">
                                <div class="cfebz ck8nf c4agq casgt">
                                    <div class="c2sao cujq3 c9eco c4agq">
                                        <div class="c27r3">
                                            <img src="images/integrations-13.svg" width="60" height="60" alt="Icon 13">
                                            <img class="ca5ue coopx cl6qg" src="images/star.svg" width="16" height="16" alt="Star" aria-hidden="true">
                                        </div>
                                        <a class="cur25 cdxod cc7gh ccqrz cx8zw c6df8 cfcmr ckot6 ctwez" href="integrations-single.html">Asana</a>
                                    </div>
                                    <div class="c9wgl">
                                        <div class="cmuyi cvdvu">Stellar makes it easy to build extensions by providing an authentication provider that handles the OAuth flow.</div>
                                    </div>
                                </div>
                            </div>
                            <!-- Card #2 -->
                            <div class="cguxs czt1h cqp3k czyxl ccm5l cu167 c260e c27r3 cn544 cq2yg">
                                <div class="cfebz ck8nf c4agq casgt">
                                    <div class="c2sao cujq3 c9eco c4agq">
                                        <div class="c27r3">
                                            <img src="images/integrations-14.svg" width="40" height="40" alt="Icon 14">
                                            <img class="ca5ue coopx cl6qg" src="images/star.svg" width="16" height="16" alt="Star" aria-hidden="true">
                                        </div>
                                        <a class="cur25 cdxod cc7gh ccqrz cx8zw c6df8 cfcmr ckot6 ctwez" href="integrations-single.html">Myngo</a>
                                    </div>
                                    <div class="c9wgl">
                                        <div class="cmuyi cvdvu">Stellar makes it easy to build extensions by providing an authentication provider that handles the OAuth flow.</div>
                                    </div>
                                </div>
                            </div>
                            <!-- Card #3 -->
                            <div class="cguxs czt1h cqp3k czyxl ccm5l cu167 c260e c27r3 cn544 cq2yg">
                                <div class="cfebz ck8nf c4agq casgt">
                                    <div class="c2sao cujq3 c9eco c4agq">
                                        <div class="c27r3">
                                            <img src="images/integrations-15.svg" width="40" height="40" alt="Icon 15">
                                            <img class="ca5ue coopx cl6qg" src="images/star.svg" width="16" height="16" alt="Star" aria-hidden="true">
                                        </div>
                                        <a class="cur25 cdxod cc7gh ccqrz cx8zw c6df8 cfcmr ckot6 ctwez" href="integrations-single.html">Bonsai</a>
                                    </div>
                                    <div class="c9wgl">
                                        <div class="cmuyi cvdvu">Stellar makes it easy to build extensions by providing an authentication provider that handles the OAuth flow.</div>
                                    </div>
                                </div>
                            </div>
                            <!-- Card #4 -->
                            <div class="cguxs czt1h cqp3k czyxl ccm5l cu167 c260e c27r3 cn544 cq2yg">
                                <div class="cfebz ck8nf c4agq casgt">
                                    <div class="c2sao cujq3 c9eco c4agq">
                                        <div class="c27r3">
                                            <img src="images/integrations-16.svg" width="40" height="40" alt="Icon 16">
                                            <img class="ca5ue coopx cl6qg" src="images/star.svg" width="16" height="16" alt="Star" aria-hidden="true">
                                        </div>
                                        <a class="cur25 cdxod cc7gh ccqrz cx8zw c6df8 cfcmr ckot6 ctwez" href="integrations-single.html">Decipad</a>
                                    </div>
                                    <div class="c9wgl">
                                        <div class="cmuyi cvdvu">Stellar makes it easy to build extensions by providing an authentication provider that handles the OAuth flow.</div>
                                    </div>
                                </div>
                            </div>
                            <!-- Card #5 -->
                            <div class="cguxs czt1h cqp3k czyxl ccm5l cu167 c260e c27r3 cn544 cq2yg">
                                <div class="cfebz ck8nf c4agq casgt">
                                    <div class="c2sao cujq3 c9eco c4agq">
                                        <div class="c27r3">
                                            <img src="images/integrations-17.svg" width="40" height="40" alt="Icon 17">
                                            <img class="ca5ue coopx cl6qg" src="images/star.svg" width="16" height="16" alt="Star" aria-hidden="true">
                                        </div>
                                        <a class="cur25 cdxod cc7gh ccqrz cx8zw c6df8 cfcmr ckot6 ctwez" href="integrations-single.html">Miro</a>
                                    </div>
                                    <div class="c9wgl">
                                        <div class="cmuyi cvdvu">Stellar makes it easy to build extensions by providing an authentication provider that handles the OAuth flow.</div>
                                    </div>
                                </div>
                            </div>
                            <!-- Card #6 -->
                            <div class="cguxs czt1h cqp3k czyxl ccm5l cu167 c260e c27r3 cn544 cq2yg">
                                <div class="cfebz ck8nf c4agq casgt">
                                    <div class="c2sao cujq3 c9eco c4agq">
                                        <div class="c27r3">
                                            <img src="images/integrations-18.svg" width="40" height="40" alt="Icon 18">
                                        </div>
                                        <a class="cur25 cdxod cc7gh ccqrz cx8zw c6df8 cfcmr ckot6 ctwez" href="integrations-single.html">Popform</a>
                                    </div>
                                    <div class="c9wgl">
                                        <div class="cmuyi cvdvu">Stellar makes it easy to build extensions by providing an authentication provider that handles the OAuth flow.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Section #4 -->
                    <div class="cx0ze hidden cb69b">
                        <h3 id="productivity" class="cc7gh ccqrz cx8zw c6df8 cfcmr ctwez cwban ctwxk cflos ciblf cte24">Productivity</h3>
                        <div class="c4mpz cfcoj cvti0 c68vp">
                            <!-- Card #1 -->
                            <div class="cguxs czt1h cqp3k czyxl ccm5l cu167 c260e c27r3 cn544 cq2yg">
                                <div class="cfebz ck8nf c4agq casgt">
                                    <div class="c2sao cujq3 c9eco c4agq">
                                        <div class="c27r3">
                                            <img src="images/integrations-19.svg" width="40" height="40" alt="Icon 19">
                                            <img class="ca5ue coopx cl6qg" src="images/star.svg" width="16" height="16" alt="Star" aria-hidden="true">
                                        </div>
                                        <a class="cur25 cdxod cc7gh ccqrz cx8zw c6df8 cfcmr ckot6 ctwez" href="integrations-single.html">Linear</a>
                                    </div>
                                    <div class="c9wgl">
                                        <div class="cmuyi cvdvu">Stellar makes it easy to build extensions by providing an authentication provider that handles the OAuth flow.</div>
                                    </div>
                                </div>
                            </div>
                            <!-- Card #2 -->
                            <div class="cguxs czt1h cqp3k czyxl ccm5l cu167 c260e c27r3 cn544 cq2yg">
                                <div class="cfebz ck8nf c4agq casgt">
                                    <div class="c2sao cujq3 c9eco c4agq">
                                        <div class="c27r3">
                                            <img src="images/integrations-20.svg" width="40" height="40" alt="Icon 20">
                                            <img class="ca5ue coopx cl6qg" src="images/star.svg" width="16" height="16" alt="Star" aria-hidden="true">
                                        </div>
                                        <a class="cur25 cdxod cc7gh ccqrz cx8zw c6df8 cfcmr ckot6 ctwez" href="integrations-single.html">Microsoft</a>
                                    </div>
                                    <div class="c9wgl">
                                        <div class="cmuyi cvdvu">Stellar makes it easy to build extensions by providing an authentication provider that handles the OAuth flow.</div>
                                    </div>
                                </div>
                            </div>
                            <!-- Card #3 -->
                            <div class="cguxs czt1h cqp3k czyxl ccm5l cu167 c260e c27r3 cn544 cq2yg">
                                <div class="cfebz ck8nf c4agq casgt">
                                    <div class="c2sao cujq3 c9eco c4agq">
                                        <div class="c27r3">
                                            <img src="images/integrations-21.svg" width="40" height="40" alt="Icon 21">
                                            <img class="ca5ue coopx cl6qg" src="images/star.svg" width="16" height="16" alt="Star" aria-hidden="true">
                                        </div>
                                        <a class="cur25 cdxod cc7gh ccqrz cx8zw c6df8 cfcmr ckot6 ctwez" href="integrations-single.html">Google Drive</a>
                                    </div>
                                    <div class="c9wgl">
                                        <div class="cmuyi cvdvu">Stellar makes it easy to build extensions by providing an authentication provider that handles the OAuth flow.</div>
                                    </div>
                                </div>
                            </div>
                            <!-- Card #4 -->
                            <div class="cguxs czt1h cqp3k czyxl ccm5l cu167 c260e c27r3 cn544 cq2yg">
                                <div class="cfebz ck8nf c4agq casgt">
                                    <div class="c2sao cujq3 c9eco c4agq">
                                        <div class="c27r3">
                                            <img src="images/integrations-22.svg" width="40" height="40" alt="Icon 22">
                                            <img class="ca5ue coopx cl6qg" src="images/star.svg" width="16" height="16" alt="Star" aria-hidden="true">
                                        </div>
                                        <a class="cur25 cdxod cc7gh ccqrz cx8zw c6df8 cfcmr ckot6 ctwez" href="integrations-single.html">InVision</a>
                                    </div>
                                    <div class="c9wgl">
                                        <div class="cmuyi cvdvu">Stellar makes it easy to build extensions by providing an authentication provider that handles the OAuth flow.</div>
                                    </div>
                                </div>
                            </div>
                            <!-- Card #5 -->
                            <div class="cguxs czt1h cqp3k czyxl ccm5l cu167 c260e c27r3 cn544 cq2yg">
                                <div class="cfebz ck8nf c4agq casgt">
                                    <div class="c2sao cujq3 c9eco c4agq">
                                        <div class="c27r3">
                                            <img src="images/integrations-23.svg" width="40" height="40" alt="Icon 23">
                                        </div>
                                        <a class="cur25 cdxod cc7gh ccqrz cx8zw c6df8 cfcmr ckot6 ctwez" href="integrations-single.html">WeTransfer</a>
                                    </div>
                                    <div class="c9wgl">
                                        <div class="cmuyi cvdvu">Stellar makes it easy to build extensions by providing an authentication provider that handles the OAuth flow.</div>
                                    </div>
                                </div>
                            </div>
                            <!-- Card #6 -->
                            <div class="cguxs czt1h cqp3k czyxl ccm5l cu167 c260e c27r3 cn544 cq2yg">
                                <div class="cfebz ck8nf c4agq casgt">
                                    <div class="c2sao cujq3 c9eco c4agq">
                                        <div class="c27r3">
                                            <img src="images/integrations-24.svg" width="40" height="40" alt="Icon 24">
                                        </div>
                                        <a class="cur25 cdxod cc7gh ccqrz cx8zw c6df8 cfcmr ckot6 ctwez" href="integrations-single.html">Hotjar</a>
                                    </div>
                                    <div class="c9wgl">
                                        <div class="cmuyi cvdvu">Stellar makes it easy to build extensions by providing an authentication provider that handles the OAuth flow.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <!-- CTA -->
    <section>
        <div class="co3q6 csm51 csya4 ccyhi">
            <div class="cx569 cbvce cuwj8 c27r3 cx3i6 cujph">
                <!-- Radial gradient -->
                <div class="c3sb3 c2vxt czyer csqqr c21zy c2sao c3x17 ca5ue cbbau cl6qg ch67j c4agq" aria-hidden="true">
                    <div class="c9ua1 chor7 cw2sl cdfzt cutr4 ca5ue cwmqr"></div>
                    <div class="chor7 cpgjj cyo6y cdfzt ca5ue chosp cgi8e"></div>
                </div>
                <!-- Blurred shape -->
                <div class="c3sb3 colir cp4r7 ca5ue c2s0w c7upq c1tcw ch67j" aria-hidden="true">
                    <svg xmlns="http://www.w3.org/2000/svg" width="434" height="427">
                        <defs>
                            <linearGradient id="bs5-a" x1="19.609%" x2="50%" y1="14.544%" y2="100%">
                                <stop offset="0%" stop-color="#A855F7"></stop>
                                <stop offset="100%" stop-color="#6366F1" stop-opacity="0"></stop>
                            </linearGradient>
                        </defs>
                        <path fill="url(#bs5-a)" fill-rule="evenodd" d="m0 0 461 369-284 58z" transform="matrix(1 0 0 -1 0 427)"></path>
                    </svg>
                </div>
                <!-- Content -->
                <div class="cw9su c80wd csya4">
                    <div>
                        <div class="ccqrz c6df8 ccal6 cuygr ctwez cwban ccqx1 c6wvq">The security first platform</div>
                    </div>
                    <h2 class="cc7gh ccqrz cx8zw c6df8 cfcmr ctwez cvc1j c4zau">Get started with us today</h2>
                    <p class="cmuyi cbgr1 cpvtt"></p>
                    <div>
                        <a class="ccqrz cl7hu colil csdcv cpy2n cx3jz cgi3a cqxsj cdccy cq2yg cyijk" href="/service">
                           Get Started <span class="c9pof c406y cxxyq c3fbv cx3jz cgi3a cqzh1">-&gt;</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section> 

</main>