<% layout('./layouts/boilerplate.ejs')%>




            <!-- Pricing -->
            <section class="c27r3 " style="background-color: #353f57;">
                <!-- Radial gradient -->
                <div class="c3sb3 cbvce ca5ue cwmqr ch67j" aria-hidden="true">
                    <div class="c2vxt czyer csqqr c21zy c2sao c3x17 ca5ue cbbau cl6qg c4agq">
                        <div class="c9ua1 chor7 cw2sl cdfzt cp4r7 ca5ue cwmqr"></div>
                    </div>
                </div>
                <div class="co3q6 csm51 csya4 ccyhi">
                    <div class="cuwj8 cx3i6">
                        <!-- Content -->
                        <div class="cw9su c80wd c9eon csya4 cifrc">
                            <div>
                                <div class="ccqrz c6df8 ccal6 cuygr ctwez cwban ccqx1 c6wvq">Pricing plans</div>
                            </div>
                            <h2 class="cc7gh ccqrz cx8zw c6df8 cfcmr ctwez cvc1j c4zau">A Bitcoin-Centric Solution </h2>
                            <p class="cmuyi cbgr1">Dive into the world of Bitcoin with STAKK by leveraging our comprehensive experience, courses, guides, and insights about Bitcoin. Also, build the skills for building wealth in the crypto market.</p>
                        </div>
                        <!-- Pricing tabs -->
<!-- 
                        <script async src="https://js.stripe.com/v3/pricing-table.js"></script>
<stripe-pricing-table pricing-table-id="prctbl_1OpMXfJC8DDDGiqpwZ4JnNKb"
publishable-key="pk_live_51Ooy1LJC8DDDGiqpJoLmRaqanJSwaJiJqGXXh7Zez8GVCeuywc9i35dZo0o7bcntmORBMRoNu2fCtL9te15d7rPG00da1CtkCE">
</stripe-pricing-table> -->
<section class=" ">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
  
        <div class="space-y-8 lg:grid lg:grid-cols-3 sm:gap-6 xl:gap-10 lg:space-y-0">
            <!-- Pricing Card -->
            <div class="flex flex-col p-6 mx-auto max-w-lg text-center border-0 text-gray-900 bg-white rounded-lg border shadow  xl:p-8 " style="background-color: #00f5ff
;">
                <h3 class="mb-4 text-2xl font-semibold"> STAKK Trading Basics Course</h3>
                <p class="font-light text-gray-500 sm:text-lg">Join our expert for a LIVE trading session to build your confidence and skills. </p>
                <div class="flex justify-center items-baseline my-8">
                    <span class="mr-2 text-5xl font-extrabold">$1,000.00</span>
                    <!-- <span class="text-gray-500">/month</span> -->
                </div>
                <!-- List -->
                <ul role="list" class="mb-8 space-y-4 text-left">
                                        <li class="flex items-center space-x-3">
                                            <!-- Icon -->
                    <div class="text-3xl font-bold">.</div>                         <span>Trading Psychology</span>
                                        </li>
                                        <li class="flex items-center space-x-3">
                                            <!-- Icon -->
                    <div class="text-3xl font-bold">.</div>                         <span>Money Mindset</span>
                                        </li>
                                        <li class="flex items-center space-x-3">
                                            <!-- Icon -->
                    <div class="text-3xl font-bold">.</div>                         <span>Trading Terminologies</span>
                                        </li>
                                        <li class="flex items-center space-x-3">
                                            <!-- Icon -->
                    <div class="text-3xl font-bold">.</div>                         <span>Trading Terminologies (practical)</span>
                                        </li>
                                        <li class="flex items-center space-x-3">
                                            <!-- Icon -->
                    <div class="text-3xl font-bold">.</div>                         <span>Trading Tools</span>
                                        </li>
                                        <li class="flex items-center space-x-3">
                                            <!-- Icon -->
                    <div class="text-3xl font-bold">.</div>                         <span>Practical Exercise</span>
                                        </li>
                                        <li class="flex items-center space-x-3">
                                            <!-- Icon -->
                    <div class="text-3xl font-bold">.</div>                         <span>Candles</span>
                                        </li>
                                        <li class="flex items-center space-x-3">
                                            <!-- Icon -->
                    <div class="text-3xl font-bold">.</div>                         <span>Trendlines</span>
                                        </li>
                                        <li class="flex items-center space-x-3">
                                            <!-- Icon -->
                    <div class="text-3xl font-bold">.</div>                         <span>Patterns</span>
                                        </li>
                                        <li class="flex items-center space-x-3">
                                            <!-- Icon -->
                    <div class="text-3xl font-bold">.</div>                         <span>Elliot Wave</span>
                                        </li>
                                        <li class="flex items-center space-x-3">
                                            <!-- Icon -->
                    <div class="text-3xl font-bold">.</div>                         <span>Resistance & Support</span>
                                        </li>
                                        <li class="flex items-center space-x-3">
                                            <!-- Icon -->
                    <div class="text-3xl font-bold">.</div>                         <span>Moving Averages (MA)</span>
                                        </li>
                                        <li class="flex items-center space-x-3">
                                            <!-- Icon -->
                    <div class="text-3xl font-bold">.</div>                         <span>Fibonacci</span>
                                        </li>
                                        <li class="flex items-center space-x-3">
                                            <!-- Icon -->
                    <div class="text-3xl font-bold">.</div>                         <span>Relative Strength Index (RSI)</span>
                                        </li>
                                        <li class="flex items-center space-x-3">
                                            <!-- Icon -->
                    <div class="text-3xl font-bold">.</div>                         <span>TTM Squeeze</span>
                                        </li>
                                        <li class="flex items-center space-x-3">
                                            <!-- Icon -->
                    <div class="text-3xl font-bold">.</div>                         <span>Moving Average Convergence/Divergence (MACD)</span>
                                        </li>
                                        <li class="flex items-center space-x-3">
                                            <!-- Icon -->
                    <div class="text-3xl font-bold">.</div>                         <span>Money Flow Index (MFI)</span>
                                        </li>
                                        <li class="flex items-center space-x-3">
                                            <!-- Icon -->
                    <div class="text-3xl font-bold">.</div>                         <span>Divergence</span>
                                        </li>
                                        <li class="flex items-center space-x-3">
                                            <!-- Icon -->
                    <div class="text-3xl font-bold">.</div>                         <span>Trading Rules</span>
                                        </li>
                                        <li class="flex items-center space-x-3">
                                            <!-- Icon -->
                    <div class="text-3xl font-bold">.</div>                         <span>Discipline</span>
                                        </li>
                                        <li class="flex items-center space-x-3">
                                            <!-- Icon -->
                    <div class="text-3xl font-bold">.</div>                         <span>Trading Mentality</span>
                                        </li>
                                        <li class="flex items-center space-x-3">
                                            <!-- Icon -->
                    <div class="text-3xl font-bold">.</div>                         <span>Trading Mechanics</span>
                                        </li>
                                        <li class="flex items-center space-x-3">
                                            <!-- Icon -->
                    <div class="text-3xl font-bold">.</div>                         <span>Manipulation</span>
                                        </li>
                                        <li class="flex items-center space-x-3">
                                            <!-- Icon -->
                    <div class="text-3xl font-bold">.</div>                         <span>Trading Time</span>
                                        </li>
                                        <li class="flex items-center space-x-3">
                                            <!-- Icon -->
                    <div class="text-3xl font-bold">.</div>                         <span>Trading Timeframes</span>
                                        </li>
                                        <li class="flex items-center space-x-3">
                                            <!-- Icon -->
                    <div class="text-3xl font-bold">.</div>                         <span>Risk Management</span>
                                        </li>
                                        <li class="flex items-center space-x-3">
                                            <!-- Icon -->
                    <div class="text-3xl font-bold">.</div>                         <span>Trading Gear</span>
                                        </li>
                                        <li class="flex items-center space-x-3">
                                            <!-- Icon -->
                    <div class="text-3xl font-bold">.</div>                         <span>Trading Tools</span>
                                        </li>
                                        <li class="flex items-center space-x-3">
                                            <!-- Icon -->
                    <div class="text-3xl font-bold">.</div>                         <span>Trade Setup Configuration</span>
                                        </li>
                                        <li class="flex items-center space-x-3">
                                            <!-- Icon -->
                    <div class="text-3xl font-bold">.</div>                         <span>Trading Lessons Learned</span>
                                        </li>
                                        <li class="flex items-center space-x-3">
                                            <!-- Icon -->
                    <div class="text-3xl font-bold">.</div>                         <span>Trading Checklist</span>
                                        </li>
                                        <li class="flex items-center space-x-3">
                                            <!-- Icon -->
                    <div class="text-3xl font-bold">.</div>                         <span>Live Trading</span>
                                        </li>
                                        <li class="flex items-center space-x-3">
                                            <!-- Icon -->
                    <div class="text-3xl font-bold">.</div>                         <span>Futures Trading</span>
                                        </li>
                                        <li class="flex items-center space-x-3">
                                            <!-- Icon -->
                    <div class="text-3xl font-bold">.</div>                         <span>Setup and Configuration</span>
                                        </li>
                                        <li class="flex items-center space-x-3">
                                            <!-- Icon -->
                    <div class="text-3xl font-bold">.</div>                         <span>Key Features</span>
                                        </li>
                                        <li class="flex items-center space-x-3">
                                            <!-- Icon -->
                    <div class="text-3xl font-bold">.</div>                         <span>Strategies</span>
                                        </li>
                                        <li class="flex items-center space-x-3">
                                            <!-- Icon -->
                    <div class="text-3xl font-bold">.</div>                         <span>Trading session</span>
                                        </li>
                                        <li class="flex items-center space-x-3">
                                            <!-- Icon -->
                    <div class="text-3xl font-bold">.</div>                         <span>Live Trading Training Sessions</span>
                                        </li>
                                        <li class="flex items-center space-x-3">
                                            <!-- Icon -->
                    <div class="text-3xl font-bold">.</div>                         <span>Join our expert for a LIVE trading session to build your confidence and skills.</span>
                                        </li>
                </ul>
                <a  href="/basicourse" target="_blank" class="text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:ring-primary-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center  " style="background: hsla(229, 100%, 66%, 1);

background: linear-gradient(90deg, hsla(229, 100%, 66%, 1) 42%, hsla(310, 71%, 56%, 1) 84%);

background: -moz-linear-gradient(90deg, hsla(229, 100%, 66%, 1) 42%, hsla(310, 71%, 56%, 1) 84%);

background: -webkit-linear-gradient(90deg, hsla(229, 100%, 66%, 1) 42%, hsla(310, 71%, 56%, 1) 84%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#5170FF", endColorstr="#DE40C4", GradientType=1 );">Get started</a>
            </div>
            <!-- Pricing Card -->
            <div class="flex flex-col p-6 mx-auto max-w-lg text-center border-0 text-gray-900 bg-white rounded-lg border shadow  xl:p-8 " style="background-color: #00f5ff
;">
                <h3 class="mb-4 text-2xl font-semibold">STAKK Futures Trading Course</h3>
                
                <p class="font-light text-gray-500 sm:text-lg">Join our expert for a PRIVATE session </p>
                <div class="flex justify-center items-baseline my-8">
                    <span class="mr-2 text-5xl font-extrabold">$250.00</span>
                </div>
                <div class="mb-5"></div>
                <!-- List -->
                <ul role="list" class="mb-8 space-y-4 text-left">
                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
<div class="text-3xl font-bold">.</div>                         <span>Custody Bitcoin Guidance </span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
<div class="text-3xl font-bold">.</div>                         <span>Join our expert for a PRIVATE session to learn how to secure and hold your own Bitcoins. </span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
<div class="text-3xl font-bold">.</div>                         <span>Customized Bitcoin Consultation </span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
<div class="text-3xl font-bold">.</div>                         <span>Contact us to setup a custom personal or business session for any of our services. </span>
                    </li>
               
                </ul>
                <a href="/tradingcourse" class="text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:ring-primary-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center  " style="background: hsla(229, 100%, 66%, 1);

background: linear-gradient(90deg, hsla(229, 100%, 66%, 1) 42%, hsla(310, 71%, 56%, 1) 84%);

background: -moz-linear-gradient(90deg, hsla(229, 100%, 66%, 1) 42%, hsla(310, 71%, 56%, 1) 84%);

background: -webkit-linear-gradient(90deg, hsla(229, 100%, 66%, 1) 42%, hsla(310, 71%, 56%, 1) 84%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#5170FF", endColorstr="#DE40C4", GradientType=1 );">Get started</a>
            </div>
            <!-- Pricing Card -->
            <div class="flex flex-col p-6 mx-auto max-w-lg text-center border-0 text-gray-900 bg-white rounded-lg border shadow  xl:p-8 " style="background-color: #00f5ff
;">
                <h3 class="mb-4 text-2xl font-semibold">Understanding Bitcoin: Basic to financial sovereignty</h3>
                <p class="font-light text-gray-500 sm:text-lg">Understanding Bitcoin: Basics of Financial Sovereignty </p>
                <div class="flex justify-center items-baseline my-8">
                    <span class="mr-2 text-5xl font-extrabold">$55.00</span>
                </div>
                <!-- List -->
                <ul role="list" class="mb-8 space-y-4 text-left">
                                        <li class="flex items-center space-x-3">
                                            <!-- Icon -->
                    <div class="text-3xl font-bold">.</div>                         <span>What is Money?</span>
                                        </li>
                                        <li class="flex items-center space-x-3">
                                            <!-- Icon -->
                    <div class="text-3xl font-bold">.</div>                         <span>Money Has Changed</span>
                                        </li>
                                        <li class="flex items-center space-x-3">
                                            <!-- Icon -->
                    <div class="text-3xl font-bold">.</div>                         <span>Taking Action</span>
                                        </li>
                                        <li class="flex items-center space-x-3">
                                            <!-- Icon -->
                    <div class="text-3xl font-bold">.</div>                         <span>Resources</span>
                                        </li>
                                        <li class="flex items-center space-x-3">
                                            <!-- Icon -->
                    <div class="text-3xl font-bold">.</div>                         <span>What is Money?</span>
                                        </li>
                                        <li class="flex items-center space-x-3">
                                            <!-- Icon -->
                    <div class="text-3xl font-bold">.</div>                         <span>Money Evolution</span>
                                        </li>
                                        <li class="flex items-center space-x-3">
                                            <!-- Icon -->
                    <div class="text-3xl font-bold">.</div>                         <span>Money Mindset</span>
                                        </li>
                                        <li class="flex items-center space-x-3">
                                            <!-- Icon -->
                    <div class="text-3xl font-bold">.</div>                         <span>Money Success Strategies</span>
                                        </li>
                </ul>
                <a href="/futuretrading"  class="text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:ring-primary-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center  " style="background: hsla(229, 100%, 66%, 1);

background: linear-gradient(90deg, hsla(229, 100%, 66%, 1) 42%, hsla(310, 71%, 56%, 1) 84%);

background: -moz-linear-gradient(90deg, hsla(229, 100%, 66%, 1) 42%, hsla(310, 71%, 56%, 1) 84%);

background: -webkit-linear-gradient(90deg, hsla(229, 100%, 66%, 1) 42%, hsla(310, 71%, 56%, 1) 84%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#5170FF", endColorstr="#DE40C4", GradientType=1 );">Get started</a>
            </div>
        </div>
    </div>
  </section>
                    </div>
                </div>
            </section>
            <div class="cv05a p-2 hidden  cylw7 csfv2 ctxpg cz1fi cr8xw cq1o6 cfvvn c1mpe ccqfq clxx2 ciw4n cww36 cs2p7 cbby6 c7lkj c27r3">
                <div class="stellar-carousel swiper-container cq2yg">
                    <div class="swiper-wrapper cxlce" data-highlighter="">
                        <!-- Carousel items -->
                        <div class="swiper-slide cp2di c08y9 cnkqm coqle c272e cdmwi c41c6 cuuka cuehh c5tlw cnna9 c8isz ct0cz c3dq6 c5aca c1mpe cjfiv cj8zu cbvce cngbt ciw4n cww36 cmy5g cco6z cfetr cmpox cpbdd c260e cyayz c27r3 cw4pt c0cl2">
                            <div class="chrsn cbvce cs2bp c27r3 ck8nf ccxsu">
                                <!-- Particles animation -->
                                <div class="c4iwi cxnjs ch063 cwc7v cgi3a croy4 ca5ue cwmqr ch67j" aria-hidden="true">
                                    <canvas data-particle-animation="" data-particle-quantity="3"></canvas>
                                </div>                                            
                                <!-- Radial gradient -->
                                <div class="c3sb3 c2vxt colir c21zy c3x17 ca5ue c2s0w cbbau ch67j" aria-hidden="true">
                                    <div class="c9fo8 cqp3k chor7 c283n cdfzt cmy5g cwc7v cgi3a ca5ue cwmqr"></div>
                                </div>
                                <div class="cfebz ck8nf c4agq c95xw">
                                    <img class="c9eco" src="images/carousel-icon-01.svg" width="56" height="56" alt="Icon 01">
                                    <div class="c9wgl">
                                        <div class="cflos cbgr1 c986a">Bitcoin Courses</div>
                                        <div class="cmuyi c9eco">Master the fundamentals of Bitcoin with our detailed guides, tutorials and in-person courses.</div>
                                    </div>
                                    <div class="cnldq">
                                        <a class="c0z2s cit3o c2sao cx3jz cwban ccqx1 cgi3a cqxsj cvdvu cq2yg" href="#0">Learn More <span class="c9pof c406y cxxyq c3fbv cx3jz cgi3a cqzh1">-&gt;</span></a>
                                    </div>
                                </div>
                            </div>
                        </div> 
                        <div class="swiper-slide cp2di c08y9 cnkqm coqle c272e cdmwi c41c6 cuuka cuehh c5tlw cnna9 c8isz ct0cz c3dq6 c5aca c1mpe cjfiv cj8zu cbvce cngbt ciw4n cww36 cmy5g cco6z cfetr cmpox cpbdd c260e cyayz c27r3 cw4pt c0cl2">
                            <div class="chrsn cbvce cs2bp c27r3 ck8nf ccxsu">
                                <!-- Particles animation -->
                                <div class="c4iwi cxnjs ch063 cwc7v cgi3a croy4 ca5ue cwmqr ch67j" aria-hidden="true">
                                    <canvas data-particle-animation="" data-particle-quantity="3"></canvas>
                                </div>                                            
                                <!-- Radial gradient -->
                                <div class="c3sb3 c2vxt colir c21zy c3x17 ca5ue c2s0w cbbau ch67j" aria-hidden="true">
                                    <div class="c9fo8 cqp3k chor7 c283n cdfzt cmy5g cwc7v cgi3a ca5ue cwmqr"></div>
                                </div>
                                <div class="cfebz ck8nf c4agq c95xw">
                                    <img class="c9eco" src="images/carousel-icon-02.svg" width="56" height="56" alt="Icon 01">
                                    <div class="c9wgl">
                                        <div class="cflos cbgr1 c986a">Trading Courses</div>
                                        <div class="cmuyi c9eco">Gain insights into market trends and learn how to analyze price movements.</div>
                                    </div>
                                    <div class="cnldq">
                                        <a class="c0z2s cit3o c2sao cx3jz cwban ccqx1 cgi3a cqxsj cvdvu cq2yg" href="#0">Learn More <span class="c9pof c406y cxxyq c3fbv cx3jz cgi3a cqzh1">-&gt;</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide cp2di c08y9 cnkqm coqle c272e cdmwi c41c6 cuuka cuehh c5tlw cnna9 c8isz ct0cz c3dq6 c5aca c1mpe cjfiv cj8zu cbvce cngbt ciw4n cww36 cmy5g cco6z cfetr cmpox cpbdd c260e cyayz c27r3 cw4pt c0cl2">
                            <div class="chrsn cbvce cs2bp c27r3 ck8nf ccxsu">
                                <!-- Particles animation -->
                                <div class="c4iwi cxnjs ch063 cwc7v cgi3a croy4 ca5ue cwmqr ch67j" aria-hidden="true">
                                    <canvas data-particle-animation="" data-particle-quantity="3"></canvas>
                                </div>                                            
                                <!-- Radial gradient -->
                                <div class="c3sb3 c2vxt colir c21zy c3x17 ca5ue c2s0w cbbau ch67j" aria-hidden="true">
                                    <div class="c9fo8 cqp3k chor7 c283n cdfzt cmy5g cwc7v cgi3a ca5ue cwmqr"></div>
                                </div>
                                <div class="cfebz ck8nf c4agq c95xw">
                                    <img class="c9eco" src="images/carousel-icon-03.svg" width="56" height="56" alt="Icon 01">
                                    <div class="c9wgl">
                                        <div class="cflos cbgr1 c986a">Consultation</div>
                                        <div class="cmuyi c9eco">Get a customized session and explore the Bitcoin standard and gain from the strategies of the experts.</div>
                                    </div>
                                    <div class="cnldq">
                                        <a class="c0z2s cit3o c2sao cx3jz cwban ccqx1 cgi3a cqxsj cvdvu cq2yg" href="#0">Learn More <span class="c9pof c406y cxxyq c3fbv cx3jz cgi3a cqzh1">-&gt;</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            
            
<br><br><br><br>