<% layout('./layouts/boilerplate.ejs')%>




            <!-- Pricing -->
            <section class="c27r3 " >
                <!-- Radial gradient -->
                     <!-- Illustration 02 -->
        <div class="c3sb3 c2vxt c5by6 c3x17 cs26b ca5ue c2s0w c7upq c81ji ch67j" aria-hidden="true">
            <img src="images/page-illustration-02.svg" class="cbdyn" width="1440" height="427" alt="Page Illustration 02">
        </div>
        
        <!-- Opacity layer -->
        <div class="cs2bp cxjfx ca5ue cwmqr ch67j" aria-hidden="true"></div>

        <!-- Radial gradient -->
        <div class="c3sb3 c2vxt czyer csqqr c21zy c2sao czqre c3x17 ca5ue cl6qg ch67j c4agq" aria-hidden="true">
            <div class="c9ua1 chor7 cw2sl cdfzt cz8e7 ca5ue cwmqr"></div>
            <div class="chor7 cpgjj cal1k cdfzt cutr4 ca5ue cbc5q cb4st"></div>
        </div>

        <!-- Particles animation -->
        <div class="ca5ue cwmqr ch67j ci4x8" aria-hidden="true">
            <canvas data-particle-animation="" data-particle-quantity="15"></canvas>
        </div>

        <!-- Illustration -->
        <div class="c3sb3 c2vxt c5by6 c3x17 cs26b ca5ue c7upq cnheb ch67j" aria-hidden="true">
            <img src="images/page-illustration.svg" class="cbdyn" width="1440" height="427" alt="Page Illustration">
        </div>

                <div class="co3q6 csm51 csya4 ccyhi">
                    <div class="cuwj8 cx3i6">
                        <!-- Content -->
                        <div class="cw9su c80wd c9eon csya4 cifrc">
                            <!-- <div>
                                <div class="ccqrz c6df8 ccal6 cuygr ctwez cwban ccqx1 c6wvq">Pricing plans</div>
                            </div> -->
                            <h2 class="cc7gh ccqrz cx8zw c6df8 cfcmr ctwez cvc1j c4zau">A Bitcoin-Centric Solution </h2>
                            <p class="cmuyi cbgr1">STAKK, offers a suite of specialized educational and consulting services designed to empower you in the evolving world of Bitcoin and cryptocurrency. Our offerings are tailored to guide beginners and seasoned enthusiasts alike through the intricacies of Bitcoin and trading, ensuring you gain the knowledge and confidence needed to navigate these dynamic sectors successfully. Explore our range of services:</p>
                        </div>
                        <!-- Pricing tabs -->
<!-- 
                        <script async src="https://js.stripe.com/v3/pricing-table.js"></script>
<stripe-pricing-table pricing-table-id="prctbl_1OpMXfJC8DDDGiqpwZ4JnNKb"
publishable-key="pk_live_51Ooy1LJC8DDDGiqpJoLmRaqanJSwaJiJqGXXh7Zez8GVCeuywc9i35dZo0o7bcntmORBMRoNu2fCtL9te15d7rPG00da1CtkCE">
</stripe-pricing-table> -->
<section class=" ">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
  
        <div class="space-y-8 lg:grid lg:grid-cols-2 sm:gap-6 xl:gap-10 lg:space-y-0">
            <!-- Pricing Card -->
            <div class="cguxs  p-4 text-center justify-center flex flex-col items-center  czt1h cqp3k czyxl ccm5l cu167 c260e c27r3 cn544 cq2yg" 
;">
                <h3 class="mb-4 text-2xl font-semibold" > TRADING BASICS
                </h3>
                <p class="font-light text-gray-400 sm:text-lg" style="height: 9em;">Dive into trading with our expert-led live course, designed to boost your skills from basics to advanced strategies. Gain crucial insights and practical experience in key areas including:
                </p>
                <div class="flex justify-center items-baseline my-8">
                    <span class="mr-2 text-5xl font-extrabold">$1,000.00</span>
                    <!-- <span class="text-gray-400">/month</span> -->
                </div>
                <!-- List -->
                <ul role="list" class="mb-8 space-y-4 text-left " style="overflow: auto; height: 33em;">
                                        <li class="flex items-center space-x-3">
                                            <!-- Icon -->
                    <div class="text-3xl font-bold">.</div>                         <span>Trading Psychology & Money Mindset</span>
                                        </li>
                                        <li class="flex items-center space-x-3">
                                            <!-- Icon -->
                    <div class="text-3xl font-bold">.</div>                         <span>Trading Terminologies: Theoretical and Practical                    </span>
                                        </li>
                                        <li class="flex items-center space-x-3">
                                            <!-- Icon -->
                    <div class="text-3xl font-bold">.</div>                         <span>Technical Analysis Tools: Candles, Trendlines, Patterns, Elliot Wave
                    </span>
                                        </li>
                                        <li class="flex items-center space-x-3">
                                            <!-- Icon -->
                    <div class="text-3xl font-bold">.</div>                         <span>Indicators Mastery: Moving Averages, Fibonacci, RSI, MACD, and more

                    </span>
                                        </li>
                                        <li class="flex items-center space-x-3">
                                            <!-- Icon -->
                    <div class="text-3xl font-bold">.</div>                         <span>Risk Management & Market Manipulation Insights


                    </span>
                                        </li>
                                        <li class="flex items-center space-x-3">
                                            <!-- Icon -->
                    <div class="text-3xl font-bold">.</div>                         <span>Trading Discipline, Mentality, and Mechanics



                    </span>
                                        </li>
                                        <li class="flex items-center space-x-3">
                                            <!-- Icon -->
                    <div class="text-3xl font-bold">.</div>                         <span>Live Trading Session to boost your confidence




                    </span>
                                        </li>
               </ul>

<a href="/basicourse" style="background-color: #30BCC2;" class="ccqrz cl7hu colil csdcv  cx3jz cgi3a cqxsj  ca0gw cq2yg cyijk">
    Get started <span class="c9pof c406y cxxyq c3fbv cx3jz cgi3a cqzh1">-&gt;</span>
</a>
            </div>
            <!-- Pricing Card -->
            <div class="cguxs  p-4 text-center justify-center flex flex-col items-center  czt1h cqp3k czyxl ccm5l cu167 c260e c27r3 cn544 cq2yg" 
;">
                <h3 class="mb-4 text-2xl font-semibold" >BITCOIN CONSULTATION
                </h3>
                
                <p class="font-light text-gray-400 sm:text-lg" style="height: 9em;">Elevate your Bitcoin expertise with our tailored consultation service, designed to guide individuals and businesses through the complexities of the Bitcoin blockchain. With a focus on personalized support, our offerings include: </p>
                <div class="flex justify-center items-baseline my-8">
                    <span class="mr-2 text-5xl font-extrabold">$100.00/hr</span>
                </div>
                <div class="mb-5"></div>
                <!-- List -->
                <ul role="list" class="mb-8 space-y-4 text-left" style="overflow: auto; height: 33em;" >
                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
<div class="text-3xl font-bold">.</div>                         <span>Navigational Assistance: Direct support for navigating the Bitcoin blockchain, making it accessible for all users.</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
<div class="text-3xl font-bold">.</div>                         <span>Bitcoin Custody Guidance: In-depth learning on secure self-custody practices to confidently hold your own Bitcoins. </span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
<div class="text-3xl font-bold">.</div>                         <span>Understanding Bitcoin Nodes: Expert insights into Bitcoin nodes, their operation, and their significance in the ecosystem. </span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
<div class="text-3xl font-bold">.</div>                         <span>Customized Bitcoin Consultation: Personalized advice on leveraging Bitcoin to optimize your financial strategy. </span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
                 <span>Our consultation service is tailored to enhance your knowledge and application of Bitcoin, enabling you to take charge of your digital assets and financial future.
                </span>
                    </li>
               
                </ul>
      <a href="/tradingcourse" style="background-color: #30BCC2;" class="ccqrz cl7hu colil csdcv  cx3jz cgi3a cqxsj  ca0gw cq2yg cyijk">
        Get started <span class="c9pof c406y cxxyq c3fbv cx3jz cgi3a cqzh1">-&gt;</span>
    </a>
    </div>
            <!-- Pricing Card -->
            <div class="cguxs  p-4 text-center justify-center flex flex-col items-center  czt1h cqp3k czyxl ccm5l cu167 c260e c27r3 cn544 cq2yg" 
;">
                <h3 class="mb-4 text-2xl font-semibold" >MASTERING BITCOIN </h3>
                <p class="font-light text-gray-500 sm:text-lg" >Take back control of your value with "Mastering Bitcoin: From Basics to Financial Sovereignty" class. This course offers a comprehensive exploration of Bitcoin, laying a solid foundation for understanding its potential to transform personal finance:</p>
                <div class="flex justify-center items-baseline my-8">
                    <span class="mr-2 text-5xl font-extrabold">$55.00</span>
                </div>
                <!-- List -->
                <ul role="list" class="mb-8 space-y-4 text-left" style="overflow: auto; height: 33em;">
                                        <li class="flex items-center space-x-3">
                                            <!-- Icon -->
                    <div class="text-3xl font-bold">.</div>                         <span>What is Money: The role and value of money in society.</span>
                                        </li>
                                        <li class="flex items-center space-x-3">
                                            <!-- Icon -->
                    <div class="text-3xl font-bold">.</div>                         <span>Evolution of Money: From barter to digital currencies, highlighting Bitcoin's impact.
                    </span>
                                        </li>
                                        <li class="flex items-center space-x-3">
                                            <!-- Icon -->
                    <div class="text-3xl font-bold">.</div>                         <span>Fiat Explained: The nature of fiat currencies versus digital currencies.</span>
                                        </li>
                                        <li class="flex items-center space-x-3">
                                            <!-- Icon -->
                    <div class="text-3xl font-bold">.</div>                         <span>Freedom Money (Peer to Peer): Bitcoin's decentralized system as electronic cash.
                    </span>
                                        </li>
                                        <li class="flex items-center space-x-3">
                                            <!-- Icon -->
                    <div class="text-3xl font-bold">.</div>                         <span>Lightning Network: The technology enabling faster, low-cost Bitcoin transactions.
                                        </li>
                                        <li class="flex items-center space-x-3">
                                            <!-- Icon -->
                    <div class="text-3xl font-bold">.</div>                         <span>Wallets vs. Exchanges: Security and use differences between wallets and exchanges.
                    </span>
                                        </li>
                                        <li class="flex items-center space-x-3">
                                            <!-- Icon -->
                    <div class="text-3xl font-bold">.</div>                         <span>Taking Action: Steps to start using Bitcoin effectively.
                    </span>
                                        </li>
                                        <li class="flex items-center space-x-3">
                                            <!-- Icon -->
                    <div class="text-3xl font-bold">.</div>                         <span>Resources: Key materials for further Bitcoin education and insights.

                    </span>
                                        </li>
                                        <li class="flex items-center space-x-3">
                                            <!-- Icon -->
                                      <span>Take a step towards generational wealth and financial sovereignty.


                    </span>
                                        </li>
                                      
                </ul>
                <a href="/tradingcourse" style="background-color: #30BCC2;" class="ccqrz cl7hu colil csdcv  cx3jz cgi3a cqxsj  ca0gw cq2yg cyijk">
                    Get started <span class="c9pof c406y cxxyq c3fbv cx3jz cgi3a cqzh1">-&gt;</span>
                </a>
        </div>
            <!-- Pricing Card -->
            <div class="cguxs  p-4 text-center justify-center flex flex-col items-center  czt1h cqp3k czyxl ccm5l cu167 c260e c27r3 cn544 cq2yg" 
;">
                <h3 class="mb-4 text-2xl font-semibold" >LIVE TRADING SESSION                </h3>
                <div class="flex justify-center items-baseline my-8">
                    <span class="mr-2 text-5xl font-extrabold">$250.00/2hr</span>
                </div>
                <p class="font-light text-gray-500 sm:text-lg" >The STAKK live trading session service is designed to bridge the gap between theoretical knowledge and real-world trading experience, offering an invaluable platform for new traders seeking to gain confidence and competence in the financial markets. Through these sessions, participants are given the opportunity to observe and engage in trading activities in real-time, under the guidance of seasoned professionals. This direct, hands-on approach allows traders to understand market dynamics, develop effective trading strategies, and learn risk management techniques in a live environment. By offering real-time feedback, insights into professional traders' thought processes, and an interactive platform for asking questions and sharing experiences, such a service accelerates the learning curve, making the complex world of trading more accessible and understandable for novices. This supportive, immersive experience is crucial in helping new traders navigate the challenges of the market with greater assurance and skill.</p>
              
                <!-- List -->
                <ul role="list" class="mb-8 space-y-4 text-left" style="overflow: auto; height: 12em;">
                             
                                      
                </ul>
                <a href="/livetradingcourse" style="background-color: #30BCC2;" class="ccqrz cl7hu colil csdcv  cx3jz cgi3a cqxsj  ca0gw cq2yg cyijk">
                    Get started <span class="c9pof c406y cxxyq c3fbv cx3jz cgi3a cqzh1">-&gt;</span>
                </a>
        </div>
        </div>
        
    </div>
  </section>

  
                    </div>
                </div>
            </section>
      <section class="p-2">

        <div class="flex flex-col md:flex-row md:flex-wrap">
            <div class="p-4 md:w-1/3">
              <ol class="relative border-s border-gray-200">
                <li class="mb-10 ms-4">
                  <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white"></div>
                  <time class="mb-1 text-sm font-normal leading-none text-gray-400">March</time>
                  <h3 class="text-lg font-semibold text-gray-50">Mastering Bitcoin</h3>
                  <p class="mb-4 text-base font-normal text-gray-500">Bitcoin Consultation</p>
                  <p class="mb-4 text-base font-normal text-gray-500">Live Trading</p>
                  <p class="mb-4 text-base font-normal text-gray-500">Trading Basics: 4th - 10th, 25th - 31st</p>
                </li>
              </ol>
            </div>
          
            <div class="p-4 md:w-1/3">
              <ol class="relative border-s border-gray-200">
                <li class="mb-10 ms-4">
                  <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white"></div>
                  <time class="mb-1 text-sm font-normal leading-none text-gray-400">April</time>
                  <h3 class="text-lg font-semibold text-gray-50">Mastering Bitcoin</h3>
                  <p class="text-base font-normal text-gray-500">Bitcoin Consultation</p>
                  <p class="text-base font-normal text-gray-500">Live Trading</p>
                  <p class="text-base font-normal text-gray-500">Trading Basics: 4th - 10th, 25th - 31st</p>
                </li>
              </ol>
            </div>
          
            <div class="p-4 md:w-1/3">
              <ol class="relative border-s border-gray-200">
                <li class="mb-10 ms-4">
                  <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white"></div>
                  <time class="mb-1 text-sm font-normal leading-none text-gray-400">May</time>
                  <h3 class="text-lg font-semibold text-gray-50">Mastering Bitcoin</h3>
                  <p class="text-base font-normal text-gray-500">Bitcoin Consultation</p>
                  <p class="text-base font-normal text-gray-500">Live Trading</p>
                  <p class="text -base font-normal text-gray-500">Trading Basics: 4th - 10th, 25th - 31st</p>
                </li>
              </ol>
            </div>
          
            <div class="p-4 md:w-1/3">
              <ol class="relative border-s border-gray-200">
                <li class="mb-10 ms-4">
                  <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white"></div>
                  <time class="mb-1 text-sm font-normal leading-none text-gray-400">June</time>
                  <h3 class="text-lg font-semibold text-gray-50">Mastering Bitcoin</h3>
                  <p class="text-base font-normal text-gray-500">Bitcoin Consultation</p>
                  <p class="text-base font-normal text-gray-500">Live Trading</p>
                  <p class="text-base font-normal text-gray-500">Trading Basics: 4th - 10th, 25th - 31st</p>
                </li>
              </ol>
            </div>
          
            <div class="p-4 md:w-1/3">
              <ol class="relative border-s border-gray-200">
                <li class="mb-10 ms-4">
                  <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white"></div>
                  <time class="mb-1 text-sm font-normal leading-none text-gray-400">July</time>
                  <h3 class="text-lg font-semibold text-gray-50">Mastering Bitcoin</h3>
                  <p class="text-base font-normal text-gray-500">Bitcoin Consultation</p>
                  <p class="text-base font-normal text-gray-500">Live Trading</p>
                  <p class="text-base font-normal text-gray-500">Trading Basics: 4th - 10th, 25th - 31st</p>
                </li>
              </ol>
            </div>
          
            <div class="p-4 md:w-1/3">
              <ol class="relative border-s border-gray-200">
                <li class="mb-10 ms-4">
                  <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white"></div>
                  <time class="mb-1 text-sm font-normal leading-none text-gray-400">August</time>
                  <h3 class="text-lg font-semibold text-gray-50">Mastering Bitcoin</h3>
                  <p class="text-base font-normal text-gray-500">Bitcoin Consultation</p>
                  <p class="text-base font-normal text-gray-500">Live Trading</p>
                  <p class="text-base font-normal text-gray-500">Trading Basics: 4th - 10th, 25th - 31st</p>
                </li>
              </ol>
            </div>
          
            <div class="p-4 md:w-1/3">
              <ol class="relative border-s border-gray-200">
                <li class="mb-10 ms-4">
                  <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white"></div>
                  <time class="mb-1 text-sm font-normal leading-none text-gray-400">September</time>
                  <h3 class="text-lg font-semibold text-gray-50">Mastering Bitcoin</h3>
                  <p class="text-base font-normal text-gray-500">Bitcoin Consultation</p>
                  <p class="text-base font-normal text-gray-500">Live Trading</p>
                  <p class="text-base font-normal text-gray-500">Trading Basics: 4th - 10th, 25th - 31st</p>
                </li>
              </ol>
            </div>
          
            <div class="p-4 md:w-1/3">
              <ol class="relative border-s border-gray-200">
                <li class="mb-10 ms-4">
                  <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white"></div>
                  <time class="mb-1 text-sm font-normal leading-none text-gray-400">October</time>
                  <h3 class="text-lg font-semibold text-gray-50">Mastering Bitcoin</h3>
                  <p class="text-base font-normal text-gray-500">Bitcoin Consultation</p>
                  <p class="text-base font-normal text-gray-500">Live Trading</p>
                  <p class="text-base font-normal text-gray-500">Trading Basics: 4th - 10th, 25th - 31st</p>
                </li>
              </ol>
            </div>
          
            <div class="p-4 md:w-1/3">
              <ol class="relative border-s border-gray-200">
                <li class="mb-10 ms-4">
                  <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white"></div>
                  <time class="mb-1 text-sm font-normal leading-none text-gray-400">November</time>
                  <h3 class="text-lg font-semibold text-gray-50">Mastering Bitcoin</h3>
                  <p class="text-base font-normal text-gray-500">Bitcoin Consultation</p>
                  <p class="text-base font-normal text-gray-500">Live Trading</p>
                  <p class="text-base font-normal text-gray-500">Trading Basics: 4th - 10th, 25th - 31st</p>
                </li>
              </ol>
            </div>
          
            <div class="p-4 md:w-1/3">
              <ol class="relative border-s border-gray-200">
                <li class="mb-10 ms-4">
                  <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white"></div>
                  <time class="mb-1 text-sm font-normal leading-none text-gray-400">December</time>
                  <h3 class="text-lg font-semibold text-gray-50">Mastering Bitcoin</h3>
                  <p class="text-base font-normal text-gray-500">Bitcoin Consultation</p>
                  <p class="text-base font-normal text-gray-500">Live Trading</p>
                  <p class="text-base font-normal text-gray-500">Trading Basics: 4th - 10th, 25th - 31st</p>
                </li>
              </ol>
            </div>
          </div>
</section>


            <div class="cv05a p-2 hidden  cylw7 csfv2 ctxpg cz1fi cr8xw cq1o6 cfvvn c1mpe ccqfq clxx2 ciw4n cww36 cs2p7 cbby6 c7lkj c27r3">
                <div class="stellar-carousel swiper-container cq2yg">
                    <div class="swiper-wrapper cxlce" data-highlighter="">
                        <!-- Carousel items -->
                        <div class="swiper-slide cp2di c08y9 cnkqm coqle c272e cdmwi c41c6 cuuka cuehh c5tlw cnna9 c8isz ct0cz c3dq6 c5aca c1mpe cjfiv cj8zu cbvce cngbt ciw4n cww36 cmy5g cco6z cfetr cmpox cpbdd c260e cyayz c27r3 cw4pt c0cl2">
                            <div class="chrsn cbvce cs2bp c27r3 ck8nf ccxsu">
                                <!-- Particles animation -->
                                <div class="c4iwi cxnjs ch063 cwc7v cgi3a croy4 ca5ue cwmqr ch67j" aria-hidden="true">
                                    <canvas data-particle-animation="" data-particle-quantity="3"></canvas>
                                </div>                                            
                                <!-- Radial gradient -->
                                <div class="c3sb3 c2vxt colir c21zy c3x17 ca5ue c2s0w cbbau ch67j" aria-hidden="true">
                                    <div class="c9fo8 cqp3k chor7 c283n cdfzt cmy5g cwc7v cgi3a ca5ue cwmqr"></div>
                                </div>
                                <div class="cfebz ck8nf c4agq c95xw">
                                    <img class="c9eco" src="images/carousel-icon-01.svg" width="56" height="56" alt="Icon 01">
                                    <div class="c9wgl">
                                        <div class="cflos cbgr1 c986a">Bitcoin Courses</div>
                                        <div class="cmuyi c9eco">Master the fundamentals of Bitcoin with our detailed guides, tutorials and in-person courses.</div>
                                    </div>
                                    <div class="cnldq">
                                        <a class="c0z2s cit3o c2sao cx3jz cwban ccqx1 cgi3a cqxsj cvdvu cq2yg" href="#0">Learn More <span class="c9pof c406y cxxyq c3fbv cx3jz cgi3a cqzh1">-&gt;</span></a>
                                    </div>
                                </div>
                            </div>
                        </div> 
                        <div class="swiper-slide cp2di c08y9 cnkqm coqle c272e cdmwi c41c6 cuuka cuehh c5tlw cnna9 c8isz ct0cz c3dq6 c5aca c1mpe cjfiv cj8zu cbvce cngbt ciw4n cww36 cmy5g cco6z cfetr cmpox cpbdd c260e cyayz c27r3 cw4pt c0cl2">
                            <div class="chrsn cbvce cs2bp c27r3 ck8nf ccxsu">
                                <!-- Particles animation -->
                                <div class="c4iwi cxnjs ch063 cwc7v cgi3a croy4 ca5ue cwmqr ch67j" aria-hidden="true">
                                    <canvas data-particle-animation="" data-particle-quantity="3"></canvas>
                                </div>                                            
                                <!-- Radial gradient -->
                                <div class="c3sb3 c2vxt colir c21zy c3x17 ca5ue c2s0w cbbau ch67j" aria-hidden="true">
                                    <div class="c9fo8 cqp3k chor7 c283n cdfzt cmy5g cwc7v cgi3a ca5ue cwmqr"></div>
                                </div>
                                <div class="cfebz ck8nf c4agq c95xw">
                                    <img class="c9eco" src="images/carousel-icon-02.svg" width="56" height="56" alt="Icon 01">
                                    <div class="c9wgl">
                                        <div class="cflos cbgr1 c986a">Trading Courses</div>
                                        <div class="cmuyi c9eco">Gain insights into market trends and learn how to analyze price movements.</div>
                                    </div>
                                    <div class="cnldq">
                                        <a class="c0z2s cit3o c2sao cx3jz cwban ccqx1 cgi3a cqxsj cvdvu cq2yg" href="#0">Learn More <span class="c9pof c406y cxxyq c3fbv cx3jz cgi3a cqzh1">-&gt;</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide cp2di c08y9 cnkqm coqle c272e cdmwi c41c6 cuuka cuehh c5tlw cnna9 c8isz ct0cz c3dq6 c5aca c1mpe cjfiv cj8zu cbvce cngbt ciw4n cww36 cmy5g cco6z cfetr cmpox cpbdd c260e cyayz c27r3 cw4pt c0cl2">
                            <div class="chrsn cbvce cs2bp c27r3 ck8nf ccxsu">
                                <!-- Particles animation -->
                                <div class="c4iwi cxnjs ch063 cwc7v cgi3a croy4 ca5ue cwmqr ch67j" aria-hidden="true">
                                    <canvas data-particle-animation="" data-particle-quantity="3"></canvas>
                                </div>                                            
                                <!-- Radial gradient -->
                                <div class="c3sb3 c2vxt colir c21zy c3x17 ca5ue c2s0w cbbau ch67j" aria-hidden="true">
                                    <div class="c9fo8 cqp3k chor7 c283n cdfzt cmy5g cwc7v cgi3a ca5ue cwmqr"></div>
                                </div>
                                <div class="cfebz ck8nf c4agq c95xw">
                                    <img class="c9eco" src="images/carousel-icon-03.svg" width="56" height="56" alt="Icon 01">
                                    <div class="c9wgl">
                                        <div class="cflos cbgr1 c986a">Consultation</div>
                                        <div class="cmuyi c9eco">Get a customized session and explore the Bitcoin standard and gain from the strategies of the experts.</div>
                                    </div>
                                    <div class="cnldq">
                                        
                                        <a class="c0z2s cit3o c2sao cx3jz cwban ccqx1 cgi3a cqxsj cvdvu cq2yg" href="#0">Learn More <span class="c9pof c406y cxxyq c3fbv cx3jz cgi3a cqzh1">-&gt;</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            
            
<br><br><br><br>