<% layout('./layouts/boilerplate.ejs')%>




            <!-- Pricing -->
            <section class="c27r3 ">
                <!-- Radial gradient -->
                <div class="c3sb3 cbvce ca5ue cwmqr ch67j" aria-hidden="true">
                    <div class="c2vxt czyer csqqr c21zy c2sao c3x17 ca5ue cbbau cl6qg c4agq">
                        <div class="c9ua1 chor7 cw2sl cdfzt cp4r7 ca5ue cwmqr"></div>
                    </div>
                </div>
                <div class="co3q6 csm51 csya4 ccyhi">
                    <div class="cuwj8 cx3i6">
                        <!-- Content -->
                        <div class="cw9su c80wd c9eon csya4 cifrc">
                            <div>
                                <div class="ccqrz c6df8 ccal6 cuygr ctwez cwban ccqx1 c6wvq">Pricing plans</div>
                            </div>
                            <h2 class="cc7gh ccqrz cx8zw c6df8 cfcmr ctwez cvc1j c4zau">A Bitcoin-Centric Solution </h2>
                            <p class="cmuyi cbgr1">Dive into the world of Bitcoin with STAKK by leveraging our comprehensive experience, courses, guides, and insights about Bitcoin. Also, build the skills for building wealth in the crypto market.</p>
                        </div>
                        <!-- Pricing tabs -->
                        <div class="c27r3">
                            <!-- Blurred shape -->
                            <div class="c3sb3 c2vxt cjq97 cutr4 cg27e ca5ue c2s0w c7upq cjfxx" aria-hidden="true">
                                <svg xmlns="http://www.w3.org/2000/svg" width="434" height="427">
                                    <defs>
                                        <linearGradient id="bs5-a" x1="19.609%" x2="50%" y1="14.544%" y2="100%">
                                            <stop offset="0%" stop-color="#73cdd7"></stop>
                                            <stop offset="100%" stop-color="#73cdd7" stop-opacity="0"></stop>
                                        </linearGradient>
                                    </defs>
                                    <path fill="url(#bs5-a)" fill-rule="evenodd" d="m661 736 461 369-284 58z" transform="matrix(1 0 0 -1 -661 1163)"></path>
                                </svg>
                            </div>
                            <!-- Content -->
                            <div class="cetzi c6odn cxdbg cdknw c5og4 c73yg cw6bj c42nj c2yj5 cxn7a c9lac c7p6f cdc5g crfht co052 cgnch c6ql6 c8xwi cfgih c9szd cgym9 ckiwl cji65 cn523 czi0m cgxbb cyk2i ciq4r cvdvu c68vp" x-data="{ annual: true }">
                                <!-- Pricing toggle -->
                                <div class="cq21c cfebz c4agq czqbs">
                                    <div class="czyxl c3abk ce2nb">
                                        <!-- Toggle switch -->
                                        <div class="c2y0a">
                                            <div class="cz30y c2sao cwban">
                                                <div class="c9z5s cgzoy ccqx1 cvdvu coj5m">Monthly</div>
                                                <div class="c27r3">
                                                    <input type="checkbox" id="toggle" class="cmmna cis27" x-model="annual">
                                                    <label for="toggle" class="cscee c50jj c8xa1 csurc ccflw c3xrc c61tg c8isz c6n9j cp3m3 cqp3k c6j8j c96ro cpmuf c2sao cdfzt cso1u cc7cw cg0ln c27r3 cyxfk c4agq cgqgn cvm81">
                                                        <span class="cmmna">Pay Yearly</span>
                                                    </label>
                                                </div>
                                                <div class="cgzoy ccqx1 cvdvu cmzyi">Yearly <span class="c93la">(-20%)</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Pro price -->
                                <div class="cq21c cfebz c4agq czqbs">
                                    <div class="czyxl ckbs2 cuash c9wgl cvc1j">
                                        <div class="ccqrz c6df8 ccal6 cuygr ctwez ccqx1 cegfh cywdj">Bitcoin Basics</div>
                                        <div class="c986a">
                                            <span class="cgzoy ccqx1 cbgr1">$</span><span class="c8azi cflos c1rqn" x-text="annual ? '24' : '29'">24</span><span class="cbo5o ccqx1 cvdvu">/mo</span>
                                        </div>
                                        <div class="cgzoy">Explore the future economy built on the Bitcoin standard.</div>
                                    </div>
                                    <div class="czyxl ckbs2 cvc1j">
                                        <a class="ccqrz cl7hu colil csdcv cpy2n cx3jz cgi3a cqxsj cdccy cfl4k ca0gw cq2yg" href="#0">
                                            Get Started <span class="c9pof c406y cxxyq c3fbv cx3jz cgi3a cqzh1">-&gt;</span>
                                        </a>
                                    </div>
                                </div>
                                <!-- Team price -->
                                <div class="cq21c cfebz c4agq czqbs">
                                    <div class="czyxl ckbs2 cuash c9wgl cvc1j">
                                        <div class="ccqrz c6df8 ccal6 cuygr ctwez ccqx1 cegfh cywdj"> Live Trading Training Sessions</div>
                                        <div class="c986a">
                                            <span class="cgzoy ccqx1 cbgr1">$</span><span class="c8azi cflos c1rqn" x-text="annual ? '49' : '54'">49</span><span class="cbo5o ccqx1 cvdvu">/mo</span>
                                        </div>
                                        <div class="cgzoy">Learn to successfully trade cryptocurrencies. </div>
                                    </div>
                                    <div class="czyxl ckbs2 cvc1j">
                                        <a class="ckbyi cw2sl cx3jz cgi3a cnur3 cqxsj cfl4k ca0gw cq2yg" href="#0">
                                            Get Started <span class="c9pof c406y cxxyq ckj0y cx3jz cgi3a cqzh1">-&gt;</span>
                                        </a>
                                    </div>
                                </div>
                                <!-- Enterprise price -->
                                <div class="cq21c cfebz c4agq czqbs">
                                    <div class="czyxl ckbs2 cuash c9wgl cvc1j">
                                        <div class="ccqrz c6df8 ccal6 cuygr ctwez ccqx1 cegfh cywdj">Consultation </div>
                                        <div class="c986a">
                                            <span class="cgzoy ccqx1 cbgr1">$</span><span class="c8azi cflos c1rqn" x-text="annual ? '79' : '85'">79</span><span class="cbo5o ccqx1 cvdvu">/mo</span>
                                        </div>
                                        <div class="cgzoy">Everything at your fingertips.</div>
                                    </div>
                                    <div class="czyxl ckbs2 cvc1j">
                                        <a class="ccqrz cl7hu colil csdcv cpy2n cx3jz cgi3a cqxsj cdccy cfl4k ca0gw cq2yg" href="#0">
                                            Get Started <span class="c9pof c406y cxxyq c3fbv cx3jz cgi3a cqzh1">-&gt;</span>
                                        </a>
                                    </div>
                                </div>
                                <!-- # Usage -->
                                <div class="cq21c cfebz c4agq czqbs">
                                    <div class="c8azi ccqx1 c3os2 c8x2c">Usage</div>
                                </div>
                                <div class="cq21c cfebz c4agq czqbs">
                                    <div class="c8azi ccqx1 c89zz c3os2 c8x2c">Usage</div>
                                </div>
                                <div class="cq21c cfebz c4agq czqbs">
                                    <div class="c8azi ccqx1 c89zz c3os2 c8x2c">Usage</div>
                                </div>
                                <div class="cq21c cfebz c4agq czqbs">
                                    <div class="c8azi ccqx1 c89zz c3os2 c8x2c">Usage</div>
                                </div>
                                <!-- Social Connections -->
                                <div class="cq21c cfebz c4agq czqbs">
                                    <div class="czyxl cmuyi ckbs2 c8x2c"></div>
                                </div>
                                <div class="cq21c cfebz c4agq czqbs">
                                    <div class="czyxl cmuyi c2sao ckbs2 ck8nf c4agq c8x2c">
                                        <svg class="ce2m3 cl3jq cygn6" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                                            <path d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z"></path>
                                        </svg>
                                        <span>100 <span class="c89zz">Social Connections</span></span>
                                    </div>
                                </div>
                                <div class="cq21c cfebz c4agq czqbs">
                                    <div class="czyxl cmuyi c2sao ckbs2 ck8nf c4agq c8x2c">
                                        <svg class="ce2m3 cl3jq cygn6" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                                            <path d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z"></path>
                                        </svg>
                                        <span>250 <span class="c89zz">Social Connections</span></span>
                                    </div>
                                </div>
                                <div class="cq21c cfebz c4agq czqbs">
                                    <div class="czyxl cmuyi c2sao ckbs2 ck8nf c4agq c8x2c">
                                        <svg class="ce2m3 cl3jq cygn6" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                                            <path d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z"></path>
                                        </svg>
                                        <span>Unlimited <span class="c89zz">Social Connections</span></span>
                                    </div>
                                </div>
                                <!-- Custom Domains -->
                                <div class="cq21c cfebz c4agq czqbs">
                                    <div class="czyxl cmuyi ckbs2 c8x2c">Custom Domains</div>
                                </div>
                                <div class="cq21c cfebz c4agq czqbs">
                                    <div class="czyxl cmuyi c2sao ckbs2 ck8nf c4agq c8x2c">
                                        <svg class="ce2m3 cl3jq cygn6" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                                            <path d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z"></path>
                                        </svg>
                                        <span>4 <span class="c89zz">Custom Domains</span></span>
                                    </div>
                                </div>
                                <div class="cq21c cfebz c4agq czqbs">
                                    <div class="czyxl cmuyi c2sao ckbs2 ck8nf c4agq c8x2c">
                                        <svg class="ce2m3 cl3jq cygn6" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                                            <path d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z"></path>
                                        </svg>
                                        <span>Unlimited <span class="c89zz">Custom Domains</span></span>
                                    </div>
                                </div>
                                <div class="cq21c cfebz c4agq czqbs">
                                    <div class="czyxl cmuyi c2sao ckbs2 ck8nf c4agq c8x2c">
                                        <svg class="ce2m3 cl3jq cygn6" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                                            <path d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z"></path>
                                        </svg>
                                        <span>Unlimited <span class="c89zz">Custom Domains</span></span>
                                    </div>
                                </div>
                                <!-- User Role Management -->
                                <div class="cq21c cfebz c4agq czqbs">
                                    <div class="czyxl cmuyi ckbs2 c8x2c">User Role Management</div>
                                </div>
                                <div class="cq21c cfebz c4agq czqbs">
                                    <div class="czyxl cmuyi c2sao ckbs2 ck8nf c4agq c8x2c">
                                        <svg class="ce2m3 cl3jq cygn6" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                                            <path d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z"></path>
                                        </svg>
                                        <span>Unlimited <span class="c89zz">User Role Management</span></span>
                                    </div>
                                </div>
                                <div class="cq21c cfebz c4agq czqbs">
                                    <div class="czyxl cmuyi c2sao ckbs2 ck8nf c4agq c8x2c">
                                        <svg class="ce2m3 cl3jq cygn6" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                                            <path d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z"></path>
                                        </svg>
                                        <span>Unlimited <span class="c89zz">User Role Management</span></span>
                                    </div>
                                </div>
                                <div class="cq21c cfebz c4agq czqbs">
                                    <div class="czyxl cmuyi c2sao ckbs2 ck8nf c4agq c8x2c">
                                        <svg class="ce2m3 cl3jq cygn6" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                                            <path d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z"></path>
                                        </svg>
                                        <span>Unlimited <span class="c89zz">User Role Management</span></span>
                                    </div>
                                </div>
                                <!-- External Databases -->
                                <div class="cq21c cfebz c4agq czqbs">
                                    <div class="czyxl cmuyi ckbs2 c8x2c">External Databases</div>
                                </div>
                                <div class="cq21c cfebz c4agq czqbs">
                                    <div class="czyxl cmuyi c2sao ckbs2 ck8nf c4agq c8x2c">
                                        <svg class="ce2m3 cl3jq cygn6" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                                            <path d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z"></path>
                                        </svg>
                                        <span>1 <span class="c89zz">External Databases</span></span>
                                    </div>
                                </div>
                                <div class="cq21c cfebz c4agq czqbs">
                                    <div class="czyxl cmuyi c2sao ckbs2 ck8nf c4agq c8x2c">
                                        <svg class="ce2m3 cl3jq cygn6" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                                            <path d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z"></path>
                                        </svg>
                                        <span>5 <span class="c89zz">External Databases</span></span>
                                    </div>
                                </div>
                                <div class="cq21c cfebz c4agq czqbs">
                                    <div class="czyxl cmuyi c2sao ckbs2 ck8nf c4agq c8x2c">
                                        <svg class="ce2m3 cl3jq cygn6" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                                            <path d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z"></path>
                                        </svg>
                                        <span>Unlimited <span class="c89zz">External Databases</span></span>
                                    </div>
                                </div>
                                <!-- # Features -->
                                <div class="cq21c cfebz c4agq czqbs">
                                    <div class="c8azi ccqx1 c3os2 c8x2c">Features</div>
                                </div>
                                <div class="cq21c cfebz c4agq czqbs">
                                    <div class="c8azi ccqx1 c89zz c3os2 c8x2c">Features</div>
                                </div>
                                <div class="cq21c cfebz c4agq czqbs">
                                    <div class="c8azi ccqx1 c89zz c3os2 c8x2c">Features</div>
                                </div>
                                <div class="cq21c cfebz c4agq czqbs">
                                    <div class="c8azi ccqx1 c89zz c3os2 c8x2c">Features</div>
                                </div>
                                <!-- Custom Connection -->
                                <div class="cq21c cfebz c4agq czqbs">
                                    <div class="czyxl cmuyi ckbs2 c8x2c">Custom Connection</div>
                                </div>
                                <div class="cq21c cfebz c4agq czqbs">
                                    <div class="czyxl cmuyi c2sao ckbs2 ck8nf c4agq c8x2c">
                                        <svg class="ce2m3 cl3jq cygn6" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                                            <path d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z"></path>
                                        </svg>
                                        <span><span class="c89zz">Custom Connection</span></span>
                                    </div>
                                </div>
                                <div class="cq21c cfebz c4agq czqbs">
                                    <div class="czyxl cmuyi c2sao ckbs2 ck8nf c4agq c8x2c">
                                        <svg class="ce2m3 cl3jq cygn6" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                                            <path d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z"></path>
                                        </svg>
                                        <span><span class="c89zz">Custom Connection</span></span>
                                    </div>
                                </div>
                                <div class="cq21c cfebz c4agq czqbs">
                                    <div class="czyxl cmuyi c2sao ckbs2 ck8nf c4agq c8x2c">
                                        <svg class="ce2m3 cl3jq cygn6" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                                            <path d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z"></path>
                                        </svg>
                                        <span><span class="c89zz">Custom Connection</span></span>
                                    </div>
                                </div>
                                <!-- Advanced Deployment Options -->
                                <div class="cq21c cfebz c4agq czqbs">
                                    <div class="czyxl cmuyi ckbs2 c8x2c">Advanced Deployment Options</div>
                                </div>
                                <div class="cq21c cfebz c4agq czqbs">
                                    <div class="czyxl cmuyi c2sao ckbs2 ck8nf c4agq c8x2c">
                                        <svg class="ce2m3 cl3jq cygn6" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                                            <path d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z"></path>
                                        </svg>
                                        <span><span class="c89zz">Advanced Deployment Options</span></span>
                                    </div>
                                </div>
                                <div class="cq21c cfebz c4agq czqbs">
                                    <div class="czyxl cmuyi c2sao ckbs2 ck8nf c4agq c8x2c">
                                        <svg class="ce2m3 cl3jq cygn6" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                                            <path d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z"></path>
                                        </svg>
                                        <span><span class="c89zz">Advanced Deployment Options</span></span>
                                    </div>
                                </div>
                                <div class="cq21c cfebz c4agq czqbs">
                                    <div class="czyxl cmuyi c2sao ckbs2 ck8nf c4agq c8x2c">
                                        <svg class="ce2m3 cl3jq cygn6" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                                            <path d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z"></path>
                                        </svg>
                                        <span><span class="c89zz">Advanced Deployment Options</span></span>
                                    </div>
                                </div>
                                <!-- Extra Add-ons -->
                                <div class="cq21c cfebz c4agq czqbs">
                                    <div class="czyxl cmuyi ckbs2 c8x2c">Extra Add-ons</div>
                                </div>
                                <div class="cq21c cfebz c4agq czqbs">
                                    <div class="czyxl cmuyi c2sao ckbs2 ck8nf c4agq c8x2c">
                                        <svg class="ce2m3 cl3jq cygn6" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                                            <path d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z"></path>
                                        </svg>
                                        <span><span class="c89zz">Extra Add-ons</span></span>
                                    </div>
                                </div>
                                <div class="cq21c cfebz c4agq czqbs">
                                    <div class="czyxl cmuyi c2sao ckbs2 ck8nf c4agq c8x2c">
                                        <svg class="ce2m3 cl3jq cygn6" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                                            <path d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z"></path>
                                        </svg>
                                        <span><span class="c89zz">Extra Add-ons</span></span>
                                    </div>
                                </div>
                                <div class="cq21c cfebz c4agq czqbs">
                                    <div class="czyxl cmuyi c2sao ckbs2 ck8nf c4agq c8x2c">
                                        <svg class="ce2m3 cl3jq cygn6" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                                            <path d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z"></path>
                                        </svg>
                                        <span><span class="c89zz">Extra Add-ons</span></span>
                                    </div>
                                </div>
                                <!-- Admin Roles -->
                                <div class="cq21c cfebz c4agq czqbs">
                                    <div class="czyxl cmuyi ckbs2 c8x2c">Admin Roles</div>
                                </div>
                                <div class="cq21c cfebz c4agq czqbs">
                                    <div class="czyxl cmuyi cjq97 c2sao ckbs2 c4agq c8x2c">
                                        <span><span class="c89zz">Admin Roles</span></span>
                                    </div>
                                </div>
                                <div class="cq21c cfebz c4agq czqbs">
                                    <div class="czyxl cmuyi cjq97 c2sao ckbs2 c4agq c8x2c">
                                        <span><span class="c89zz">Admin Roles</span></span>
                                    </div>
                                </div>
                                <div class="cq21c cfebz c4agq czqbs">
                                    <div class="czyxl cmuyi c2sao ckbs2 ck8nf c4agq c8x2c">
                                        <svg class="ce2m3 cl3jq cygn6" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                                            <path d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z"></path>
                                        </svg>
                                        <span><span class="c89zz">Admin Roles</span></span>
                                    </div>
                                </div>
                                <!-- Deploy and Monitor -->
                                <div class="cq21c cfebz c4agq czqbs">
                                    <div class="czyxl cmuyi ckbs2 c8x2c">Deploy and Monitor</div>
                                </div>
                                <div class="cq21c cfebz c4agq czqbs">
                                    <div class="czyxl cmuyi cjq97 c2sao ckbs2 c4agq c8x2c">
                                        <span><span class="c89zz">Deploy and Monitor</span></span>
                                    </div>
                                </div>
                                <div class="cq21c cfebz c4agq czqbs">
                                    <div class="czyxl cmuyi cjq97 c2sao ckbs2 c4agq c8x2c">
                                        <span><span class="c89zz">Deploy and Monitor</span></span>
                                    </div>
                                </div>
                                <div class="cq21c cfebz c4agq czqbs">
                                    <div class="czyxl cmuyi c2sao ckbs2 ck8nf c4agq c8x2c">
                                        <svg class="ce2m3 cl3jq cygn6" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                                            <path d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z"></path>
                                        </svg>
                                        <span><span class="c89zz">Deploy and Monitor</span></span>
                                    </div>
                                </div>
                                <!-- Enterprise Add-ons -->
                                <div class="cq21c cfebz c4agq czqbs">
                                    <div class="czyxl cmuyi ckbs2 c8x2c">Enterprise Add-ons</div>
                                </div>
                                <div class="cq21c cfebz c4agq czqbs">
                                    <div class="czyxl cmuyi cjq97 c2sao ckbs2 c4agq c8x2c">
                                        <span><span class="c89zz">Enterprise Add-ons</span></span>
                                    </div>
                                </div>
                                <div class="cq21c cfebz c4agq czqbs">
                                    <div class="czyxl cmuyi cjq97 c2sao ckbs2 c4agq c8x2c">
                                        <span><span class="c89zz">Enterprise Add-ons</span></span>
                                    </div>
                                </div>
                                <div class="cq21c cfebz c4agq czqbs">
                                    <div class="czyxl cmuyi c2sao ckbs2 ck8nf c4agq c8x2c">
                                        <svg class="ce2m3 cl3jq cygn6" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                                            <path d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z"></path>
                                        </svg>
                                        <span><span class="c89zz">Enterprise Add-ons</span></span>
                                    </div>
                                </div>
                                <!-- # Support -->
                                <div class="cq21c cfebz c4agq czqbs">
                                    <div class="c8azi ccqx1 c3os2 c8x2c">Support</div>
                                </div>
                                <div class="cq21c cfebz c4agq czqbs">
                                    <div class="c8azi ccqx1 ch9bk c3os2 c8x2c">Support</div>
                                </div>
                                <div class="cq21c cfebz c4agq czqbs">
                                    <div class="c8azi ccqx1 c89zz c3os2 c8x2c">Support</div>
                                </div>
                                <div class="cq21c cfebz c4agq czqbs">
                                    <div class="c8azi ccqx1 c89zz c3os2 c8x2c">Support</div>
                                </div>
                                <!-- Premium Support -->
                                <div class="cq21c cfebz c4agq czqbs">
                                    <div class="czyxl cmuyi ckbs2 c8x2c">Premium Support</div>
                                </div>
                                <div class="cq21c cfebz c4agq czqbs">
                                    <div class="czyxl cmuyi cjq97 c2sao ckbs2 c4agq c8x2c">
                                        <span><span class="c89zz">Premium Support</span></span>
                                    </div>
                                </div>
                                <div class="cq21c cfebz c4agq czqbs">
                                    <div class="czyxl cmuyi c2sao ckbs2 ck8nf c4agq c8x2c">
                                        <svg class="ce2m3 cl3jq cygn6" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                                            <path d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z"></path>
                                        </svg>
                                        <span><span class="c89zz">Premium Support</span></span>
                                    </div>
                                </div>
                                <div class="cq21c cfebz c4agq czqbs">
                                    <div class="czyxl cmuyi c2sao ckbs2 ck8nf c4agq c8x2c">
                                        <svg class="ce2m3 cl3jq cygn6" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                                            <path d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z"></path>
                                        </svg>
                                        <span><span class="c89zz">Premium Support</span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="cv05a p-2  cylw7 csfv2 ctxpg cz1fi cr8xw cq1o6 cfvvn c1mpe ccqfq clxx2 ciw4n cww36 cs2p7 cbby6 c7lkj c27r3">
                <div class="stellar-carousel swiper-container cq2yg">
                    <div class="swiper-wrapper cxlce" data-highlighter="">
                        <!-- Carousel items -->
                        <div class="swiper-slide cp2di c08y9 cnkqm coqle c272e cdmwi c41c6 cuuka cuehh c5tlw cnna9 c8isz ct0cz c3dq6 c5aca c1mpe cjfiv cj8zu cbvce cngbt ciw4n cww36 cmy5g cco6z cfetr cmpox cpbdd c260e cyayz c27r3 cw4pt c0cl2">
                            <div class="chrsn cbvce cs2bp c27r3 ck8nf ccxsu">
                                <!-- Particles animation -->
                                <div class="c4iwi cxnjs ch063 cwc7v cgi3a croy4 ca5ue cwmqr ch67j" aria-hidden="true">
                                    <canvas data-particle-animation="" data-particle-quantity="3"></canvas>
                                </div>                                            
                                <!-- Radial gradient -->
                                <div class="c3sb3 c2vxt colir c21zy c3x17 ca5ue c2s0w cbbau ch67j" aria-hidden="true">
                                    <div class="c9fo8 cqp3k chor7 c283n cdfzt cmy5g cwc7v cgi3a ca5ue cwmqr"></div>
                                </div>
                                <div class="cfebz ck8nf c4agq c95xw">
                                    <img class="c9eco" src="images/carousel-icon-01.svg" width="56" height="56" alt="Icon 01">
                                    <div class="c9wgl">
                                        <div class="cflos cbgr1 c986a">Bitcoin Courses</div>
                                        <div class="cmuyi c9eco">Master the fundamentals of Bitcoin with our detailed guides, tutorials and in-person courses.</div>
                                    </div>
                                    <div class="cnldq">
                                        <a class="c0z2s cit3o c2sao cx3jz cwban ccqx1 cgi3a cqxsj cvdvu cq2yg" href="#0">Learn More <span class="c9pof c406y cxxyq c3fbv cx3jz cgi3a cqzh1">-&gt;</span></a>
                                    </div>
                                </div>
                            </div>
                        </div> 
                        <div class="swiper-slide cp2di c08y9 cnkqm coqle c272e cdmwi c41c6 cuuka cuehh c5tlw cnna9 c8isz ct0cz c3dq6 c5aca c1mpe cjfiv cj8zu cbvce cngbt ciw4n cww36 cmy5g cco6z cfetr cmpox cpbdd c260e cyayz c27r3 cw4pt c0cl2">
                            <div class="chrsn cbvce cs2bp c27r3 ck8nf ccxsu">
                                <!-- Particles animation -->
                                <div class="c4iwi cxnjs ch063 cwc7v cgi3a croy4 ca5ue cwmqr ch67j" aria-hidden="true">
                                    <canvas data-particle-animation="" data-particle-quantity="3"></canvas>
                                </div>                                            
                                <!-- Radial gradient -->
                                <div class="c3sb3 c2vxt colir c21zy c3x17 ca5ue c2s0w cbbau ch67j" aria-hidden="true">
                                    <div class="c9fo8 cqp3k chor7 c283n cdfzt cmy5g cwc7v cgi3a ca5ue cwmqr"></div>
                                </div>
                                <div class="cfebz ck8nf c4agq c95xw">
                                    <img class="c9eco" src="images/carousel-icon-02.svg" width="56" height="56" alt="Icon 01">
                                    <div class="c9wgl">
                                        <div class="cflos cbgr1 c986a">Trading Courses</div>
                                        <div class="cmuyi c9eco">Gain insights into market trends and learn how to analyze price movements.</div>
                                    </div>
                                    <div class="cnldq">
                                        <a class="c0z2s cit3o c2sao cx3jz cwban ccqx1 cgi3a cqxsj cvdvu cq2yg" href="#0">Learn More <span class="c9pof c406y cxxyq c3fbv cx3jz cgi3a cqzh1">-&gt;</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide cp2di c08y9 cnkqm coqle c272e cdmwi c41c6 cuuka cuehh c5tlw cnna9 c8isz ct0cz c3dq6 c5aca c1mpe cjfiv cj8zu cbvce cngbt ciw4n cww36 cmy5g cco6z cfetr cmpox cpbdd c260e cyayz c27r3 cw4pt c0cl2">
                            <div class="chrsn cbvce cs2bp c27r3 ck8nf ccxsu">
                                <!-- Particles animation -->
                                <div class="c4iwi cxnjs ch063 cwc7v cgi3a croy4 ca5ue cwmqr ch67j" aria-hidden="true">
                                    <canvas data-particle-animation="" data-particle-quantity="3"></canvas>
                                </div>                                            
                                <!-- Radial gradient -->
                                <div class="c3sb3 c2vxt colir c21zy c3x17 ca5ue c2s0w cbbau ch67j" aria-hidden="true">
                                    <div class="c9fo8 cqp3k chor7 c283n cdfzt cmy5g cwc7v cgi3a ca5ue cwmqr"></div>
                                </div>
                                <div class="cfebz ck8nf c4agq c95xw">
                                    <img class="c9eco" src="images/carousel-icon-03.svg" width="56" height="56" alt="Icon 01">
                                    <div class="c9wgl">
                                        <div class="cflos cbgr1 c986a">Consultation</div>
                                        <div class="cmuyi c9eco">Get a customized session and explore the Bitcoin standard and gain from the strategies of the experts.</div>
                                    </div>
                                    <div class="cnldq">
                                        <a class="c0z2s cit3o c2sao cx3jz cwban ccqx1 cgi3a cqxsj cvdvu cq2yg" href="#0">Learn More <span class="c9pof c406y cxxyq c3fbv cx3jz cgi3a cqzh1">-&gt;</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            
            
<br><br><br><br>